.mouse:hover{cursor:pointer;}
.mouse:active{cursor:wait;}

.contenido{

    border: 1px solid #BECCDB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #F4F6F8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F6F8), to(#E0E7EF));
    background-image: -webkit-linear-gradient(top, #F4F6F8, #E0E7EF);
    background-image: -moz-linear-gradient(top, #F4F6F8, #E0E7EF);
    background-image: -ms-linear-gradient(top, #F4F6F8, #E0E7EF);
    background-image: -o-linear-gradient(top, #F4F6F8, #E0E7EF);
    background-image: linear-gradient(top, #F4F6F8, #E0E7EF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f6f8', EndColorStr='#e0e7ef');
    z-index: 2;
    margin-bottom: 0px;
}
.Cont_Abajo{
    background-color: #444;
    color:#FFF0F0;
    margin-top: 0px;
}

.Titulos{
    font: 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#666;
}
.subtitulos{
    color:gray; font-size: 15px;
}
.CampoTabla{
    font: 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#878CA7; font-size: 15px;
}
.titulotabla{
    background-color: #555;
    color:#FFF0F0;
    font: 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 24px;
    text-align: center;
    padding-top: 6px;
}
fieldset{
    background-color: rgba(253, 253, 253, 0.99);
    padding: 5px 5px 5px 5px;
}
textarea {
    resize: none;
    white-space: pre-wrap;
    font-size: 13px;
}
input{ font-size: 13px;}
a:hover {
    font-weight: bold;
    color: #333;
    font-size: 13px;
    text-decoration:none;
}
a {
    font-weight: bold;
    color: #333;
    font-size: 13px;
    text-decoration: none;
}


/*///////////////Tooltip boton Eliminar///////////////////*/
.Ocultar{position: relative;}
.Ocultar .tooltip{ display: none;} .tooltip td{ padding: 3px 5px;} .tooltip table { font-family: Arial, Helvetica, sans-serif;font-size: 12px; font-weight: normal; color: #0F144B; }
.Ocultar:hover .tooltip{ z-index:99; display: block; position: absolute; padding: 5px; width: 300px; height: auto; background-color: white; border-radius: 5px; left: -290px; top: 50%; -webkit-box-shadow: 0px 0px 2px 2px #000000; -moz-box-shadow: 0px 0px 4px 0px #000000; box-shadow: 0px 0px 4px 0px #000000; }

/*///////////////Tablas muestran los Proyectos///////////////////*/

/*Nueva version*/
.Vista_Proy{
    border: 2px solid #CCC;
    font-size: 13px;
}

.Vista_Proy [class*="span"]{
    margin-left: 0;
    margin-right: 0;
    min-height: 35px;
}

.Vista_Proy .boton{
    min-height: 30px;
}

.Sup{
    border-bottom: 1px solid #CCC;
}

.Izq1{
    border-left: 1px solid #CCC;
}

.Vista_Proy .span1{width: 8.33333333333333%;}
.Vista_Proy .span2{width: 16.66666666666667%;}
.Vista_Proy .span3{width: 25%;}
.Vista_Proy .span4{width: 33.33333333333333%;}
.Vista_Proy .span5{width: 41.66666666666667%;}
.Vista_Proy .span6{width: 50%;}
.Vista_Proy .span7{width: 58.33333333333333%;}
.Vista_Proy .span8{width: 66.66666666666667%;}
.Vista_Proy .span9{width: 75%;}
.Vista_Proy .span10{width: 83.33333333333333%;}
.Vista_Proy .span11{width: 91.66666666666667%;}
.Vista_Proy .span11{width: 100%;}

.DirProy{
    border: none !important;
    min-height: 45px !important;
}

.TituProy{
    background: #FCFCFC;
    font-size: 14px;
}

.TxtProy{
    padding-top:5px;
}
/*Fin Nueva version*/

.Contenido_Proyecto{
    float: left;
    height: auto;
    margin: 5px 0 0;
    padding: 0;

    color: #333;
}
.ID{
    background-color: #555;
    color:#FFF0F0;
    height: 45px;
    padding-top: 10px;
}
.titulo{
    font-weight: bold;
    background-color: #EEE;
    color: #333;
}
.Normal{
    background-color: #FCFCFC;
    color: #333;
}
.Campo{
    float: left;
    height: 22px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.Nombre{
    float: left;
    height: 76px;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    background-color: #FCFCFC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}
.lateral{border-left: 1px solid #CCC;}
.superior{border-top: 1px solid #CCC;}
.acordeonproyecto{
    border-radius: 0px;
    border:1px solid #CCC;
    border-top:none;
    background-color: #EEE;
}
#capascroll{
    width: 90%; /* Ancho definido */
    height: 320px; /* Alto definido */
    overflow: auto /* Scroll automático, aparece si es necesario */
}

/*///////////////Inicio cabecera///////////////////*/
.Cabecera-Principal{
    width: 100%;
    height: 185px;
    float: left;
}
.cabecera-Superior{
    background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(48,52,61) 59%, rgb(39,40,46) 80%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(48,52,61) 59%, rgb(39,40,46) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(48,52,61) 59%, rgb(39,40,46) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(48,52,61) 59%, rgb(39,40,46) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(48,52,61) 59%, rgb(39,40,46) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(82,79,82)),
        color-stop(0.59, rgb(48,52,61)),
        color-stop(0.8, rgb(39,40,46))
        );
    width: 100%;
    height: 30px;
}
.cabecera-Superior-Contenido{
    margin: 0 auto 0 auto;
    height: 30px;
    width: 980px;
    padding: 0 10px 0 10px;
}
.botonsuperior a{
    float: right;
    height: 30px;
    padding: 4px 10px 0px 10px;
    display: inline;
    position: relative;
    color: #F1F1F1;
    font-size: 14px;
}
.botonsuperior a:hover{
    color:#B6BD01;
}
.cabecera-centro{
    background: rgba(77, 125, 225,0.2)   url('/eisi/images/ProyectosDeExtension/background.png');
    width: 100%;
    height: 126px;
    margin: 0 auto auto 0;
}
.header-centro-in{
    width: 980px;
    height: 125px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
.header-img{
    float: right;
    width: 70px;
    height: 70px;   
    margin-top:35px;
    margin-left: 895px;
    position:absolute;
    overflow: hidden;
}
.header-img img{
    width: 70px;
    height: 70px;
}

.header-logo{
    float: left;
    max-width: 170px;
    height: 100px;
    margin: 10px 0px 10px 10px;

    border-radius: 4px 4px 4px 4px;
}
.header-logo img{
    float: left;

    max-width: 150px;
    max-height: 100px;
}
.header-titulo-cont{
    width: 480px;
    height: auto;
    float: left;  
    padding: 0px;
    border-radius: 0 4px 4px 0;
}
.header-titulo-main{
    width: 480px;
    height: auto;
    float: left;
    padding: 0 0 0 20px;
}

.header-titulo-main p{
    margin-bottom: 0px;
    text-align: left;
    font: 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #333;
    text-shadow: 0px 4px 0px #f5f5f5;
}
.header-titulo{
    width: 420px;
    height: auto;
    float: left;
    padding: 0 0 0 20px;

}
.header-titulo p{
    margin-top: 0px;
    text-align: left;
    font: 3em "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333;
    text-shadow: 0px 2px 0px #fff;

}
.header-subtitulo-cont{
    width: 320px;
    height: auto;
    float: right;
    margin: 60px 80px 0 0;
    padding: 0px;

}
.header-subtitulo{
    width: auto;
    height: auto;
    float: right;
    padding-right: 20px;
    display: block;

}
.header-subtitulo p{

    font: bolder 12px 'Trebuchet MS', Arial, Sans-serif;
    color: #555;
    text-shadow: 0px 1px 0px #fff;
    background: url(/eisi/images/ProyectosDeExtension/bg_fondo.JPg) repeat-x top;

}
.header-inf{
    width: 100%;
    height: 35px;
    margin: 0 auto;
    z-index: 6;
    vertical-align: middle;
    background: url(/eisi/images/ProyectosDeExtension/bg_menu.png) repeat-x top;
    clear: both;
}
/*///////////////Fin cabecera///////////////////*/

/*///////////////Inicio Menu///////////////////*/
div#menu {
    width: 980px;
    margin: 0 auto;
    height: 35px;
    text-align: center;
    padding: 0;

}
#menu ul { width:975px; height:40px; margin: 0 auto; -webkit-padding-start: 40px; }
#menu ul li {float:left;width:auto;	height:40px;}
#menu ul li a{
    text-align: center;
    display:block;
    margin:8px 0 0 0;
    text-decoration:none;
    padding: 0 12px;border-right: 1px dotted #999;
}
#menu ul li a span{
    color:#F4F4F4;
    font-family: UniversCondensedMedium, sans-serif;
    font-size:10pt;
    text-transform:uppercase;
    text-decoration:none;

}
#menu ul li:hover { background:url(/eisi/images/ProyectosDeExtension/red_bot.png) no-repeat top center;}
#menu .selected { background:url(/eisi/images/ProyectosDeExtension/red_bot.png) no-repeat top center; }
#menu ul li a span.afiliese{
    font-size:10pt;
    float:left;
    background-image: url(../images/bot_afilie.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: -9999px;
    width: 104px;
    height: 25px;
    display: block;

}


/*///////////////Fin Menu///////////////////*/

.contenedor-main{
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 6px 0 0 0;
    background: url(/eisi/images/ProyectosDeExtension/bg_fondo.jpg)  repeat-x top;
}
.main{

    display: block;
    width: 980px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px #6E6E6E;
    -moz-box-shadow: 0px 0px 5px 0px #6E6E6E;
    box-shadow: 0px 0px 5px 0px #6E6E6E;
}
#contenidos{
    width: 100%;
    border:none;
    display: block;
    padding: 10px 5px 40px 5px;
    min-height:75%;
    overflow: hidden;

}

/* foter*/
.footer-inf{
    background:  rgba(77, 125, 225, 0.9);
    background: rgba( 0, 0, 0, 0.1);
    float: left;
    width: 100%;
    height: auto;
}
.footer-inf-cont{
    text-align: center;
    width: 980px;
    height: auto;
    margin: 0 auto;
}
.footer-inf-cont-creditos{
    width: auto;
    height: auto;
    margin: 10px;
}
.footer-inf-cont-creditos p{
    font-size: 13px;
    font-weight: normal;
}
.footer-inf-cont-creditos a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}


/* lista desplegable de actividades*/

.tituGris{
    height: 29px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-right:  1px solid #ddd;
    background-color: #444;
    padding: 2px 0 2px 10px;
}

.tituGris span{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 16px;
    float: left;
    padding: 3px 0 0 0;
    height: 23px;
    color:white;
}

.irAct:hover {
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.irAct:hover .tooltips{
    z-index:99;
    display: block;
    position: absolute;
    padding: 5px; width: 270; height: 105px;
    background-color: white;
    top:-50px;
    border-radius: 4px;
    color:black;
    left:550px;
}

.irAct{position: relative;}

.irAct .tooltips{position: absolute;
}

.tooltips {
    position: absolute;
    display:none;
    border: 1px solid #999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    -webkit-transition: 0.1s linear all;
}

.tooltips:after, .tooltips:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 4;
    position: absolute;
    pointer-events: none;
}
.tooltips:after {

    border-color: rgba(136, 183, 213, 0);
    border-right-color:white;
    border-width: 8px;
    top: 52%;
    margin-top: -8px;
}
.tooltips:before {

    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 9px;
    top: 52%;
    margin-top: -9px;
}

#mensaje{
    text-align: justify;
    border: 1px solid #DCDADA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #E1E1E1;
    background: none repeat scroll 0 0 #6F95DC;
    width:90%;
    min-height: 200px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:11px;
    margin:0;
    padding:30px;
    text-shadow: 1px 1px 2px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
    color:#fff;
}

