/*
    Ãšltima actualizaciÃ³n de DISEÃ‘O y PROGRAMACIÃ“N 21/03/2011
    Realizada por: AUGUSTO MIGUEL IMBETT CORREDOR
    Grupo CALUMET - UIS
*/
@font-face{
    font-family:'Dungeon';
    src: url('../../Fonts/Dungeon.ttf');
}
/* PARA INTERNET EXPLORER*/
/*[if IE] */
@font-face{
    font-family:"Dungeon";
    src: url('../../Fonts/Dungeon.eot') format('eot');
}
@font-face{
    font-family:'HandelGothic BT';
    src: url('../../Fonts/Dungeon.ttf');
}
/* PARA INTERNET EXPLORER*/
/*[if IE] */
@font-face{
    font-family:"HandelGothic BT";
    src: url('../../Fonts/Dungeon.eot') format('eot');
}
* { margin: 0; padding: 0; }
body {
    /*background: #18468e url('/eisi/images/fondoBody.jpg') no-repeat center center;*/
    background: #1e4f9c url('../../images/fondoBody.jpg') no-repeat top center fixed;
    margin: 0px;
    padding:0;
    font-family: Arial,Geneva,sans-serif;
    font-size: 13px;
}
a { text-decoration: none; }
/*******************************
	ENCABEZADO #0012a0
********************************/
#afuera {
    width: 100%;
    text-align: center;
}
#blancoAfuera{
    background-color:white;
    padding: 0px;
    margin: 0px;
}
#tablaEncabezado {
    background-color:white;
    width: 1000px;
    padding: 0px;
    height: 130px;
    margin: 0px auto;
    border-bottom-left-radius :15px;
    border-bottom-right-radius :15px;
    -moz-border-radius-bottomleft :15px;
    -moz-border-radius-bottomright :15px;
    -webkit-border-radius-bottomleft :15px;
    -webkit-border-radius-bottomright :15px;
}
#eisiLargo {
    background: url('../../images/index/logoFacultad.jpg') no-repeat right center;
    width: 65%;
    padding: 0px;
}
#eisiLargo img{
    width: 590px;
    height: 80px;
}
.fecha {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: #4B8A2F;
    float: right;
    padding-right: 10px;
}
.logintitulos{
    font: 12px "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #2B3D83;
    font-weight: bold;
    list-style: none;
    float: left;
}
.loginsubtitulos {
    /*background: url('../../images/eisi/dd.png') repeat-x left top;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #90c1ff;
    width: 1000px;
    padding-top:10px;
    margin: 0px auto 20px auto;
    text-align: right;
    /*border-top: 5px solid #444;
    opacity:0.7;*/
}
.loginsubtitulos a {
    padding-right: 50px;
}
/*******************************
	TABLA CONTENEDORA
********************************/
#fbHoja1 {
    width: 100%;
    text-align: center;
    background: #232bb0 url('../../images/eisi/menuHorizontalFondo.png') repeat-x left center;
    border-top: 2px solid #7FADFF;
    border-bottom: 2px solid #00008B;
}
#fbHoja2 {
    width: 100%;
    text-align: center;
}
#tablaCont1{
    margin: 0px auto;
    padding-top: 10px;
    width: 1000px;
    border-left: 1px solid #00008B;
}
.esqIzq{
    background: url('../../images/eisi/pajaroEsqIzq.png') no-repeat left bottom;
    padding-left: 12px;
}
#title {
    background: url('../../images/eisi/pajaroTodo.png') no-repeat right bottom;
    padding-right: 3px;
    height: 80px;
}
#title span {
    background: #FA7A18 url('../../images/eisi/esquina.png') no-repeat left top;
    border-top: 1px solid #FFA062;
    border-bottom: 1px solid #3F1201;
    font-family: Dungeon, "HandelGothic BT", Arial, Helvetica, sans-serif;
    color: #eae9e3;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    position: relative;
    left: -23px;
    top: 15%;
    padding: 5px;
}
.cTitle{ /* CREADO CON JS, ME COLOCA EL TRIANGULO */
    background: url('/eisi/images/eisi/triangulo.png') no-repeat left top;
    width: 10px;
    height: 10px;
    position: relative;
    top:11px;
    left: -23px;
    display: block;
    text-align: left;
    float: left;
}
#map {
    font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #E16E16;
    float: left;
    padding-left: 20px;
}
.tdMap {
    background: url('/eisi/images/eisi/pajaroV.png') repeat-x left bottom;
}
.sesionUsr {
    background: url('/eisi/images/eisi/pajaroV.png') repeat-x left bottom;
}
.esqDer{
    background: url('/eisi/images/eisi/pajaroEsqDer.png') no-repeat right bottom;
    width: 20px;
}
#tablaCont2{
    margin: 0px auto;
    width: 1000px;
    border-left: 1px solid #00008B;
    border-bottom: 5px solid #444;
    border-bottom-left-radius :15px;
    -moz-border-radius-bottomleft :15px;
    -webkit-border-radius-bottomleft :15px;
    background: white url(/eisi/images/eisi/Swirls3.png) no-repeat bottom right;
}
.divIzquierdo{
    float:left;
    vertical-align: top;
    padding-top: 15px;
    margin-bottom: 15px;
}
.optieneAlto{
    padding-top: 5px;
    border-top: 1px solid #f2f2f2;
    border-right: 3px solid #E7E7E7;
    border-bottom:2px solid #E7E7E7;
    background:#FAFAFA;
    width:200px;
    border-bottom-right-radius :15px;
    -moz-border-radius-bottomright :15px;
    -webkit-border-radius-bottomright :15px;
}
.close{
    vertical-align: top;
    z-index: 500;
}
.close a {
    background: #FE4902 url('/eisi/images/eisi/arrowClose1.png') no-repeat right center;
    height: 30px;
    width: 20px;
    text-indent: -9999px;
    display: block;
    border-top-right-radius :15px;
    border-bottom-right-radius :15px;
    -moz-border-radius-topright :15px;
    -moz-border-radius-bottomright :15px;
    -webkit-border-radius-topright :15px;
    -webkit-border-radius-bottomright :15px;
    outline: none;
    z-index: 1000;
}
.close a:hover {
    background: #FE4902 url('/eisi/images/eisi/arrowClose2.png') no-repeat center center;
}
.close.off a {
    background: #FE4902 url('/eisi/images/eisi/arrowClose3.png') no-repeat center center;
}
.close.off a:hover {
    background: #FE4902 url('/eisi/images/eisi/arrowClose4.png') no-repeat center center;
}
#izqImagen {
    background: url(/eisi/images/eisi/foto.png) no-repeat top center;
    height: 220px;
}
#izqImagen img {
    margin: 21px;
    margin-left: 42px;
    width:125px;
    height: 163px;
    border: 0px;
    background: #1e4f9c;
}
#menuIzq3 #backLine .titulo{
    background: #FFFFFF ;
    text-align:center;
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    border-bottom: 2px solid #A5DDFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#menuIzq3 #backLine .titulo a{
    text-align:center;
    color: #51548E;
    border:0px;
    text-decoration: underline;
}
#menuIzq3 #backLine{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #0012a0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    list-style: none;
}
#menuIzq3 #backLine li{
    text-align: right;
    width: 100%;
}
#menuIzq3 #backLine li a{
    color: #444;
    display: block;
    padding: 7px 5px;
    border-bottom: 1px  solid #E7E7E7;
    font-weight: bold;
    position: relative;
    z-index: 200;
    text-decoration: none;
    outline: none;
}
#magicLine {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#ifrm{
    width: 750px;
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    margin-bottom: 15px;
}
#ifrm iframe{
    right:0px;
    border: 0px;
}
