.contenedorSugerencia{
    width:1024px;
    height:547px;
    background:#FFF;
    padding:none;
}
.separadorSugerencia{
    width:inherit;
    height:60px;
    background:FFF;
    margin: 0 auto;
    border-top: solid 3px #dedbe4;
}
.txtContenedor{
    width:800px;
    margin-left:120px;
    height:auto;
    background:#FFF;
}
.tituloSugerencia{
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    font-weight:bold;
    color: #08c;
}
.txtSugerencia{
    margin-top:10px;
    width:auto;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#6B6B6B;
}
.contenidoSugerencia{
    width:800px;
    height:auto;
    margin: 0 auto;
    padding: 30px 0px 10px 0px;
    border: 1px #EFEFEF solid;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    -moz-box-shadow: 0px 0px 7px #c4c4c2;
    -webkit-box-shadow: 0px 0px 7px #c4c4c2;
    box-shadow: 0px 0px 7px #c4c4c2;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
.contenedorBtnSugerencia{
    float:left;
    padding:20px 0px 20px 0px;
    width:210px;
    height:inherit;
    margin-left:170px;
}
.btn{
    height: 30px;
    width: 70px;
    color:FFF;
    border:0px;
    cursor:pointer;
    background-color: #08c;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:bold;
    text-decoration: none;
    text-decoration:none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.btn:hover{
    background: #08c;
}
.btnSugerencia{
    width:70px;
    height:auto;
    float:left;
    margin-right:35px;
}
.camposSugerencia{
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: #08c;
    font-size:14px;
}
textarea, input{
    font-family: Arial, Helvetica, sans-serif;
    color:#006;
    font-size:14px;
    resize:none;
}

/* MANTENER SUGERENCIAS AYUDAS */

.contenedorFormatoSugerencias table{
    border:#ABB0C4 1px solid;
    white-space: normal;
    display:table-row;
}
.separadorSugerencia2{
    width:inherit;
    height:20px;
    background:FFF;
    margin: 0 auto;
}
.titulo{
    background-color: #69759B;
    font-family: normal Arial, sans-serif;
    font-size:12px;
    color:#FFF;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    width:85px;
    height:25px;
}
.info{
    background-color:#ABB0C4;
    font-family: normal Arial, sans-serif;
    font-size:12px;
    color:#0F144B;
    text-align:center;
    text-decoration:none;
    width:85px;
    height:25px;
	
}
.resultInfo{
    background-color:#F4F5F9;
    text-align:justify;
    font-family: normal Arial, sans-serif;
    font-size:12px;
    font-weight: normal;
    color:#0F144B;
}