/*
    Ãšltima actualizaciÃ³n de DISEÃ‘O y PROGRAMACIÃ“N 21/03/2011
    Realizada por: AUGUSTO MIGUEL IMBETT CORREDOR
    Grupo CALUMET - UIS
*/

body { background: #1e4f9c url('../../images/fondoBody.jpg') no-repeat 50% 20% fixed;}/* color de fondo */
#blancoAfuera{ /* background del encabezado */
    background-color:white;
}
.logintxt{ /* caja de texto de inicio de sesion */
    color: black;
    border-color: #EA9A5C;
}
#swfBanner{ /* borde del swf, cuando existe */
    border-color: #0355a3;
}
#tablaTodo { /* color de la Ãºltima parte, contiene el menÃº y agenda */
    background-color: white; /* ambas deben ser del mismo color */
}
#menu{ /* borde q separa el menu de la agenda */
    border-color : #d6d6d6;
}
#hoja{ /*background de la agenda eisi */
    background-color: #edf1f4;
}
.agendaeisi h4{ /* texto donde dice, agenda eisi - prÃ³ximos eventos */
    background-color: #0012a0; /*0012a0 232bb0*/
    color: #CDDCFF;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid #edf1f4;
    border-top: 2px solid #edf1f4;
}
.agendaeisi h5{ /* titulos de cada evento */
    color:#0012a0;
}
.agendaeisi img{ /* borde de cada imagen de la agenda */
     border-color: #D5D5D5; /*#23305D*/
}
.agendaeisi a{ /* VER MAS [+]*/
    color: #0012a0;
}
.agendaeisi a:hover{ /* VER MAS [+]*/
    color: #fe4902;
}
.izquierda{ /* borde que separa el texto de la imagen de la agenda eisi */
    border-color: #ccc;
}
.titulos { /*titulos del menu*/
    border-top: 1px solid #eae9e3; /*eae9e3 9CAEC5*/
    border-bottom: 1px solid #B7B6B2;
    color: #000;
    background-color: #FA7A18;/* CDDCFF E67016 EA9B5F EA9A5C FA7A18*/
}
.bajotitulos{ /*caja que se encuentra debajo de cada titulo*/
    border-color: #eae9e3; /*eae9e3*/
    color: #17458e; /*AZULES OSCUROS 191970 00008B*/
}
ul.bajotitulos li{ /*donde dice ing y las parecidas a esta*/
    border-color: #eae9e3;
}
ul.bajotitulos li a:hover{color: #FA7A18;}
.subbajotitulos {/* fecha y texto de comunicados*/
    color:#0012a0;
}
.eventos{/* texto de los eventos*/
    color: #333;
}
.logintitulos{ /* USUARIO Y CONTRASEÃ‘A */
    color: #2B3D83;
}
.loginsubtitulos, .loginsubtitulos p {/* Usuario EISI - Administrador*/
    color: #2B3D83;
}
.loginsubtitulos a { /* OLVIDO CONTRASEÃ‘A Y REGISTRESE*/
    color:#7F88A9;
}
.loginsubtitulos a:hover {
    color:#FA7A18 ;
}
.linea{ /* linea q divide cada evento*/
    color:#ccc;
}

/*
-----------------------------------------------------
        COLORES PARA EL MENÃš ACORDION
-----------------------------------------------------
*/
#inicio{  /* caja q encierra al menÃº */
    background-color: #82ADE6;
}
#NIVEL0 .nodespliegue, #NIVEL1 .despliegue{ /* colores de los items principales del menu */
    color: #f2faff;
    border-color: #6495ED;
    background-color: #3678d9;
}
#NIVEL0 .nodespliegue:hover, #NIVEL1 .despliegue:hover{ /* colores de los items principales del menu */
    background-color: #6495ED;
    border-color: #fff;
}
#NIVEL1 .selected{ /* colores del items principal seleccionado */
    background-color: #edf1f4; /*6495ED 001BED 0012a0 */
    border-color: #edf1f4;
}
.NIVEL2{ /* colores de los items secundarios del menu */
    color: #333;
    background-color: #edf1f4; /*6495ED 001BED 0012a0 */
}
.NIVEL2:hover{ /* colores de los items principales del menu */
    color:  #CDDCFF;/* mismo color que agenda eisi h4*/
    background-color: #6495ED; /*6495ED 001BED 0012a0 */
}

/*-----------------------------------
     COLORES PARA EL SLIDER
-------------------------------------*/

.anythingSlider .anythingWindow { /* colores del marco de las imagenes*/
    border: 2px solid #444; /* 0018CF 67aeff*/
    border-top: 0px;
    color: #fff;
}
.anythingSlider .anythingControls {/* color del marco de la barra controladora */
    background-color: white;
}
.anythingSlider .cornelius {/* color de fondo de la barra controladora*/
    background-color:#0172FF;
}
.anythingSlider .anythingControls .tableControl {/* color del borde q separa los botones (EXTREMOS)*/
    border-right: 1px solid #A5DDFF;
    border-left: 1px solid #1c2980;
}
.anythingSlider .anythingControls .thumbNav a { /* color del borde q separa los botones*/
    border-left: 1px solid #A5DDFF;
    border-right: 1px solid #1c2980;
}
.anythingSlider .anythingControls .thumbNav a:hover /* fondo de botones */
{
    background: #206FE6 url('../../images/index/boton.png');
}
.anythingSlider .anythingControls .thumbNav a.cur
{
    background: #1B5CBF url('../../images/index/controladorBackground.png') repeat-x top right;
}
