/*
    Ãšltima actualizaciÃ³n de DISEÃ‘O y PROGRAMACIÃ“N 21/03/2011
    Realizada por: AUGUSTO MIGUEL IMBETT CORREDOR
    Grupo CALUMET - UIS
*/
/*-----------------------------------
      POSICION DE TODO SLIDER
.anythingSlider.activeSlider TODO EL SLIDER
-------------------------------------*/
.anythingSlider {
	margin: auto;
	position: relative;
	margin-top: 6px;

}
/*-------------------------------------
.anythingWindow CONTENEDORA DE IMAGENES
-----------------..--------------------*/
.anythingSlider .anythingWindow {
	border: 3px solid #444;/*#0355a3*/
        border-top: 0px solid #00F;
	background: white url(../../images/index/load.gif) no-repeat center center;
	color: #fff;
	overflow:hidden;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
}
/*-------------------------------------
		.start-stop BOTON
---------------------------------------*/
.anythingSlider .start-stop {
	background-color: url(../../images/index/cellshade.png) repeat-x left bottom;
	padding: 0px 5px;
	margin: 0px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	float: left;
	z-index: 100;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	float: left;  /*POSICION DEL BOTON, SI ES Q HAY*/
	display: inline-block;
}
.anythingSlider .start-stop.playing {
	background-color: red;
	float: left;  /*POSICION DEL BOTON, SI ES Q HAY*/
	display: inline-block;
}
.anythingSlider .start-stop:hover,
.anythingSlider .start-stop.hover {
	color: black;
	background-color:#FF888B;
}
/*-----------------------------------
 	CSS	CONTROLADOR
 .anythingControls  Y   .thumbNav
-------------------------------------*/

.anythingSlider .anythingControls {
	/*position:relative;*/
        background-color: white;
	width: 100%;
	top: 0px; /* ESTO ME INDICA COMO QUIERO Q SEA EL DESPLIEGUE*/
	z-index: 100;
}
.anythingSlider .cornelius {
    /*corner*/
    width: 100%;
    background-color:#0172ff;  /*#e2e2e2 0012a0 0172ff*/
    background-image: url('../../images/index/controladorBackground.png');
    background-repeat: repeat-x;
    background-position: top right;
    padding: 0px;
    margin: 0px;
}
.anythingSlider .anythingControls .tableControl {
    margin: 0px auto;  /*TABLA Q ME CONTROLA EL CONTROL, DONDE ESTÃ‰ ESTA TABLA ESTA EL CONTROL*/
    padding: 0px;
    border-right: 1px solid #A5DDFF;
    border-left: 1px solid #1c2980;
}
.anythingSlider .anythingControls .thumbNav {
    position: inherit;
    margin: 0px;
    padding: 0px;
}
.anythingSlider .anythingControls .thumbNav a { /* BOTON COMO TAL
		background-color:#4DACFF;*/
		background-image: url('../../images/index/boton.png');
		background-position:center center;
		background-repeat: no-repeat;
		font: 11px/18px Georgia, Serif;
		text-align: center;
		text-indent: 0;
		text-decoration: none;
                border:0px;
		border-left: 1px solid #A5DDFF;
                border-right: 1px solid #1c2980;
		display: inline-block;
		padding: 6px 8px 4px 8px;
		margin: 0px;
                /*opacity: 0.6;
		filter: alpha(opacity=60); OPACIDAD PARA INTERNET EXPLORER*/
		float:left; /* INDICA LA ANIMACION left = inz a der, right = der a izq*/
}
.anythingSlider .anythingControls .thumbNav a:hover
{
    background-color:#206FE6;
    background-image: url('../../images/index/boton.png');
    background-repeat: repeat-x;
    background-position: top right;
}
.anythingSlider .anythingControls .thumbNav a.cur
{
    background: #1B5CBF url('../../images/index/controladorBackground.png') repeat-x top right;
}
.anythingSlider .anythingControls .thumbNav a img
{
    background: transparent;
    width: 33px;
    height: 23px;
    border: 0px solid;
}
.anythingSlider .thumbNav li { display: inline; }
/*-----------------------------------
UL de .anythingSlider .anythingWindow
-------------------------------------*/
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
/*-----------------------------------
	arrow FLECHAS
-------------------------------------*/
.anythingSlider .arrow {
	top: 50%;
	position: absolute;/* ABSOLUTE LE DA LA OPCION A LAS FLECHAS DE NO SER MANDADAS POR EL PADDING DEL DIV QUE LAS CONTIENE, EN ESTE CASO .anythingSlider*/
	display: block;
	z-index: 100;
}
.anythingSlider .arrow a {
	display: block;
	height: 95px;
	width: 45px;
	margin-top: -47px;
	outline: 0;
	background: url('../../images/index/arrows.png') no-repeat;
	text-indent: -9999px;
}
.anythingSlider .forward {
	right: 0; }
.anythingSlider .back {
	left: 0; }
.anythingSlider .forward a {
	background-position: -45px -95px; }
.anythingSlider .back a {
	background-position: 0px -95px; }
.anythingSlider .forward a:hover,
.anythingSlider .forward a.hover {
	background-position: -45px 0px; }
.anythingSlider .back a:hover,
.anythingSlider .back a.hover {
	background-position: 0px -0px; }
.anythingSlider .forward.disabled {
	display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .back.disabled {
	display: none; }



.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .thumbNav a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
