/*!
 * Universidad Industrial de Santander
 * Grupo de Desarrollo de Software Calumet
 * EISI | Clima | Widget | Design
 * Creado por Romel Pérez (romelperez.blogspot.com), 2014
 * Actualizado por Romel Pérez, Mayo del 2015
 **/

.cw-holder {
  overflow: hidden;
  display: block;
  float: left;
  width: 100%;
  min-height: 100px;
  color: #444;
  line-height: 1.5;
  text-transform: normal;
}

.cw-station {
  float: left;
  width: 364px;
  min-height: 192px;
  margin-top: 16px;
  color: #555;
  font-family: arial;
}

.cw-station a {
  color: #555;
}

.cw-holder .cw-station:first-child {
  border-right: 1px solid #DDD;
}

  .cw-title {
    margin: 0 10px 10px 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

  .cw-left {
    float: left;
    width: 170px;
    height: 156px;
    font-size: 14px;
    line-height: 22px;
  }

  .cw-right {
    float: right;
    width: 190px;
    height: 156px;
    font-size: 14px;
    line-height: 28px;
  }

    .cw-graph {
      width: 125px;
      margin-left: 10px;
      margin-bottom: 11px;
    }

    .cw-uv {
      margin-left: 15px;
    }
    .cw-uv a:hover,
    .cw-uv a:active,
    .cw-uv a:focus {
      color: #0088cc;
    }

    .cw-temp {
      font-size: 36px;
      margin: 10px 15px;
    }

  .cw-credits {
    display: block;
    clear: both;
    margin-top: 5px;
    text-align: right;
    font-size: 12px;
    line-height: 1;
  }

  .cw-credits span {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #999;
  }

  .cw-credits a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    color: #999;
  }

  .cw-none {
    margin-right: 10px;
    font-size: 14px;
    color: #999;
  }

/* Icons */
.cw-icon {
  display: inline-block;
  margin-bottom: -3px;
  width: 15px;
  height: 15px;
  background-image: url(/eisi/images/Clima/weather.png);
}
.cw-icon.cw-icon-uv { background-position: 0 0; }
.cw-icon.cw-icon-rain { background-position: 15px 0; }
.cw-icon.cw-icon-humidity { background-position: 0 15px; }
.cw-icon.cw-icon-wind { background-position: 15px 15px; }
