/* 
    Created on : 26/11/2014, 05:28:50 PM
    Author     : Danay
*/
body{
    background-color: #F7F7F7;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
/* cabecera del portal*/
header {
    max-width: 1000px;
    background-color: #FFF;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #DDD;
    overflow: hidden;
}
.header-top {
    color: #FFF;
    border-bottom: 0px solid #E9E9E9;
    margin-top: 0px;
}
.header-top-cont {
    max-width: 1000px;
    margin: 0px auto;
}

.header-content {
    max-width: 1000px;
    margin: 0px auto;
}
.header-logo {
    background-size: contain;
    height: 100px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px auto 5px;
}

.header-titulo {
    margin-bottom: 0px;
    font-size: 2.4em;
    font-weight: normal;
    border-bottom: medium none;
    margin-top: 30px;
}

.header-subtitulo {
    margin-top: 0px;
    color: #6B993D;
}
.header-logouis {
    margin: 17px auto;
   /* width: 100%;*/
    text-align: right;
    padding-right: 20px;
}
.header-logoescuela{
    position: absolute;
    right: 163px;
    height: 68px;/* para que sea de igual tamaño que el logo uis */
    top: 12px;
}

.espacio{
    background-color: #F7F7F7;
    padding: 7px 10px;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD; 

}

/* contenido del portal*/
/* menu del portal*/
#contenido{
    overflow: auto;
    overflow: auto;
    padding: 20px 30px;
    background-color: #FFF;
    min-height: 500px;
    max-width: 940px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #DDD;
}

/* --------- Menu del index del portal  e   iframe     -------*/
a.accordion-toggle {
    background: none !important;
    border: none !important;
    padding: 8px 0 !important;
}
.accordion-group{
    border: none !important;

}
.accordion-inner {
    border: none !important;
}

#contenido-interno{ /* el del iframe */
    padding: 10px;
    max-width: 700px;
    border-left: 1px solid #ddd;
}

/* pie de pagina del portal web */
.footer{
    background-color: #FFF;
    max-width: 1000px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #DDD;
}

.footer-info-portal {
    color: #FFF;
    background-color: #777;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
.copy{
    color: #fff !important;
}

.esp{
    background-color: #777;
    padding: 7px 10px;
}
.footer-inf-cont{
    background-color: #eee !important;
    color: #777;
    padding: 5px;
}
.copy-a{
    color: #777 !important;
}

.nom-grupo:first-letter {
    text-transform:uppercase;
}
.nom-grupo{
    text-transform: lowercase;
}
ul.aco{
    
    margin: 0;
    padding: 0 20px;

}

.footer-fin{
    padding: 5px;
}
