{
	auto_https off
}


http://eisidev01.uis.edu.co {
    reverse_proxy coma_eim:8080
}

http://eisidev01.uis.edu.co {
    reverse_proxy coma_eip:8080
}

http://localhost {
    reverse_proxy coma_eim:8080
}