/* 
    Document   : sesion
    Created on : 9/05/2011, 03:01:46 PM
    Author     : Dominik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

            <!--
            div#wrapper {
                background-color:#FFF;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 13px;
                margin: 0px;
                padding: 20px 0px;
            }
            div.header1{
                width: 730px;
                height: 100px;
                padding: 20px 0px;
               /* background-image:url(../../images/sesiones/bannerSesiones.png);*/
                background-color: transparent;
                margin: auto;

            }
            div.header1_1{
                width: auto;
                height: 100px;
                background-color:transparent;
                display: block;
                float: left;
            }
            div.header1_1 p{
                display: block;
                position: relative;
                left: 40px;
                top: 35px;
            }
            div.header1_2 {
                width: 275px;
                height: 100px;
                display: block;
                float: left;
                background-color:transparent;
            }
            div.header1_2_1 {
                width: 275px;
                margin: 22px auto;
                text-align: center;
                background-color: transparent;

            }


            h3 {
                margin-bottom: 50px;
            }

            ul#menu {
                margin: 5px 0px;
            }

            ul#menu li {
                padding: 0px;
                display: inline-block;
                /*display: inline; /* IE 7 and below */
                position: relative;
                margin-left: 2px;
                margin-right: 2px;
                width: 48px;
                height: 48px;
            }

            ul#menu li img {
                width: 125px;
                position: absolute;
                top: 0px;
                left: 0px;
                padding: 0px;
                margin: 0 8px 0 0;
                border: none;
            }
            div#body {
                width:725px;
                min-height:600px;
                height:auto;
                margin: 0px auto;
                padding: 1px 0px;
                background-color:#FFF;
                display:block;
            }
            div.bodyLista {
                width:665px;
                height:215px;
                background-color:transparent;
                padding:10px;
                margin:2px auto;
                display:block;
            }
            div.bodyCreacion {
                width:665px;
                height:215px;
                background-color:transparent;
                padding:10px;
                margin:2px auto;
                display:block;
            }
            div.contenedor {
                width:608px;
                height:22px;
                margin:2px 30px;
                display:block;
                background-color:transparent;
            }
            span.etiqueta {
                width:300px;
                height:20px;
                display:block;
                margin: 0px 2px;
                background-color:transparent;
                float: left;
                text-align: center;
                font-style:italic;
                color:#2F3C4A;
            }
            span.campo {
                width:300px;
                height:22px;
                display:block;
                background-color:transparent;
                float:left;
            }
            div.contenedor1_1 {
                width:300px;
                height:auto;
                padding:0px 150px;
                display:block;
                background-color:transparent;
            }

            div.contenedor1_1 span {
                width:70px;
                height:22px;
                display:block;
                float:left;
                padding:1px 0px;
                margin:1px 0px;
                text-align:center;
                font-style:normal;
                color:#1885b2;
                background-color:transparent;
            }
            div.contenedor1_1 span:hover {
                color:#F00;
                cursor:pointer;
            }
            div.contenedor1_2 {
                width:150px;
                height:25px;
                display:block;
                background-color:transparent;
                padding:10px 200px 1px 200px;
                margin:auto;
            }
            div.contenedor1_2b {
                width:200px;
                height:25px;
                display:block;
                background-color:transparent;
                padding:10px 200px 1px 200px;
                margin:2px auto 2px 60px;
            }
            div.contenedor1_2 span {
                width:70px;
                height:20px;
                padding:2px;
                text-align:center;
                display:block;
                float:left;
                color:#1885b2;
            }
            div.contenedor1_2 span:hover {
                color:#F00;
                background-color:transparent;
                cursor:pointer;
            }

            div.bannerCreacion {
                width:608px;
                height:60px;
                margin:10px 30px;
                display:block;
                background-color:transparent;
            }
            div#padding {
                width: 725px;
                height: 100px;
                padding: 20px 0px;
                background-color:transparent;
                margin: auto;
                background-image:url(../../images/sesiones/fondoPadding.gif);
            }
            .selectTipo1 {
                width:300px;
            }
            .selectTipo2 {
                width:150px;
            }

            .input {
                width:100px;
            }
