/*!
 * Document   : Boxed
 * Created on : 21/04/2015, 12:43:39 AM
 * Author     : duvanjamid
 **/

/**
 * CONTENIDO
 * ---------
 * $GENERAL
 * $CABECERAS
 * $MENU
 * $NAVEGaCION
 * $CONTENIDO
 * $FOOTER
 */






/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

body.grupo-body{
    background: #f7f8f9 !important ;
    background-color: #f7f8f9 !important;
}
h2{
    border-bottom: 1px solid;
}





/*------------------------------------*\
    $CABECERAS
\*------------------------------------*/

header{
    background-color: #ffffff;
    max-width: 1170px !important;
    margin: 0 auto;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
}
.header-content{
    max-width: 100%;
    margin: 0 0%;
}
.header-top{
    padding: 10px !important;
    margin-top: 0;
    background-color: #fff;
    color: #fff;
    border: none !important;
}
.header-top-cont{
    max-width: 100%;
    margin: 0 auto;
}
.header-top-cont>.row-fluid{
    margin-top: 0;
    margin-bottom: 0;
}
.header-top-cont .btn-group>.dropdown-menu{
    margin: 0 5px 0 0;
}
.header-top-boton{
    padding: 5px 10px;
    color: inherit;
    margin: 0;
}
.header-logo{
    background-size: contain; 
    height: 100px;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 5px;
}
.header-titulo{
    margin-bottom: 0;
    font-size: 2.4em;
    font-weight: normal;
    border-bottom: none;
    margin-top: 30px;
}
.header-subtitulo{
    margin-top: 0;
}
.header-logouis{
    display: block;
    margin: 17px auto;
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

.rSocial ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.rSocial ul li{
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    float: left;
}
.rSocial ul li:hover{
    background-color: #a0a5b3;
    opacity: .5;
}
.rSocial ul li a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    
}
.redS{
    font-size: 28px !important;
    
}

.fa-facebook{
    color: #3f5d9a;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    left: 2px;
    bottom: 2px;
}

.fa-twitter{
    color: #2daae2;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 3px;
    bottom: 3px;
}

.fa-instagram{
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 1px;
    bottom: 3px;
}
.fa-google-plus {
    color: #dd5144;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 7px;
    bottom: 3px;
}
.fa-linkedin {
    color: #0274b3;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 1px;
    bottom: 3px;
    border-radius: 50%;
}
.fa-youtube-play {
    color: #ff0000;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    right: 4px;
    bottom: 3px;
}


/*------------------------------------*\
    $MENU
\*------------------------------------*/

nav {
    width:100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    display: inline-block;
    
}
.navbar-inner {
    background: none;
    border: none;
    max-width: 90%;
    margin-top: 1%;
    padding-bottom: 0px;
}
.navbar-inner .nav,.enlacesRel {
    float: left;
    margin: 0 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
.navbar .nav > li > a {
    font-size: 1.1em;
    text-shadow: none;
    padding: 12px 15px;
    transition: all 0.4s ease-in-out;
    text-transform: none !important;
}
nav .dropdown-menu>li>a {
    padding: 9px 15px;
    border-bottom: none;
    text-align: left;
}
nav .dropdown-menu{
    border-top: none;
    border-radius:0 0 2px 2px;
    -webkit-border-radius:0 0 2px 2px;
    -moz-border-radius:0 0 2px 2px;
}
nav .dropdown-menu:before, nav .dropdown-menu:after{
    content: "";
    display: none;
}

/*------------------------------------*\
    $BANNER
\*------------------------------------*/

.main{
  width: 100%;
  margin: 0;
  height: 500px;
  
}


.slides{
  width: 100%;
  position: relative;
}

.slides div .imagenGaleria{
  width: 100%;
  height: 500px;
  

}

.slidesjs-pagination{
  background: none ;
  overflow: hidden;
  display: none;
}

.slidesjs-navigation{
  cursor:pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 25px;
  z-index: 11;
  color: #fff;
  background-color: none;
  opacity: 0.0;
  
}
.infoBanner{
    position: absolute;
    bottom: 20%;
    z-index: 13;
    color: #fff;
    left: 5%;
    opacity: .7;
}


.texto1, .texto2{
    display: inline-block;
    background: #001c37;
    padding:15px;
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 5px solid #F00;
}

.texto2{
    
    padding:10px;
    margin-top:.5em;
    font-size: 1.5em;
    text-transform: capitalize;
}

.textoBoton{
    display: inline-block;
    background: #F00;
    padding:5px;
    margin-top: .5em;
    font-size: 1em;
    font-weight: 500;
    text-transform: none;
}
a.linkBanner{
    color: #fff;
    margin-left: 5px;
}

.slidesjs-navigation:hover{
  opacity: 1.0;
  font-size: 2em;
  color: #C0C0C0;
  text-decoration: none;
}
.slidesjs-next{
  right: 1%;
}

.slidesjs-previous{
  left: 1%;

}
.slidesjs-play, .slidesjs-stop{
  display: none !important;
}


/*------------------------------------*\
    $NAVEGACION
\*------------------------------------*/

.navegacion{
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ff3232;
}
.navegacion-cont{
    width: 100%;
    margin: 0 2em;
    padding: 7px 0;

}
.navegacion a, .navegacion a:link {
    color: #FFFAFA;
    opacity: 0.8;
}




/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/

.margen{
    margin: 0px;
}
iframe.contenido{
    width: 100%;
    min-height: 350px;
} 
.group-content{
    margin: 0 auto;
    overflow: auto;
    max-width: 1170px !important;
    z-index: 15;
}
.group-main{
    padding: 0;
    background-color: #fff;
    min-height: 500px;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    
}
.content{
    width: 90%;
    margin: 0px auto;
}


.contentEnla{
    position: relative;
    bottom: 0px;
}
.logoEnlace{
    height: 70px;
}
.contLogo{
    display:inline-block; 
}
.enlacesRel{
    padding-bottom: 2em;
    float: left;
    margin: 0;
    display: inline-flex;
    justify-content: space-evenly;
}



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer{
    background-color: #f5f5f5;
    max-width: 1170px !important;
    margin: 0 auto;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
}
.footer-content{
    max-width: 100%;
    margin: 0 auto;
}
.footer-content-in{
    padding: 6%;
}
.footer-inf{
    background-color: #777;
    color: #fff;
    text-align: center;
}
.footer-inf-cont{
    max-width: 1000px;
    margin: 0 auto;
}
.footer-inf-cont a{
    color: #fff;
    font-weight: bold;
}



