/* 
    Document   : VistaFactor
    Created on : 21-mar-2014, 14:13:06
    Author     : duvanj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.emodal_header h3 {
    text-align: center;
}
.tab-content {
    overflow: visible;
}
._activo{
    display: block;
}
._inactivo{
    display: none;
}
.sin_programar,.pasado,.futuro{
    opacity: 0.7;
    filter: alpha(opacity=0.7);
}
.presente{
    -webkit-animation: bombillo 0.8s linear 0.4s infinite;
    -o-animation: bombillo 0.8s linear 0.4s infinite;
    animation: bombillo 0.8s linear 0.4s infinite;
}
@-webkit-keyframes bombillo {
    0% {
    opacity: 1;
    filter: alpha(opacity=1);   
}
50% {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
100% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
}
}
@-moz-keyframes bombillo {
    0% {
    opacity: 1;
    filter: alpha(opacity=1);   
}
50% {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
100% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
}
}
@-ms-keyframes bombillo {
    0% {
    opacity: 1;
    filter: alpha(opacity=1);   
}
50% {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
100% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
}
}
@-o-keyframes bombillo {
    0% {
    opacity: 1;
    filter: alpha(opacity=1);   
}
50% {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
100% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
}
}
@keyframes bombillo {
    0% {
    opacity: 1;
    filter: alpha(opacity=1);   
}
50% {
    opacity: 0.5;
    filter: alpha(opacity=0.5);
}
100% {
    /* style */
    opacity: 0;
    filter: alpha(opacity=0);
}
}