body {
    overflow-x: hidden;
}


p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1.be-title,
h2.be-title,
h3.be-title,
h4.be-title,
h5.be-title,
h6.be-title {
    color: #18bc9c;
}

.sesion-bar {
    background-color: #f5f5f5;
    margin: 0;
    padding: 1px;
}

.sesion-bar .row-fluid {
    margin: 0;
}

.sesion-bar .contenedor {
    margin: 0 auto;
}

header {
    text-align: left;
    background: #2c3e50;
    /*position: fixed;
    top: 0;
    right: 0;
    left: 0;*/
    /*z-index: 2;*/
    padding: 1px;
}

.be-page-title {
    color: #FFF;
    display: inline-block;
}

.navbar-inner {
    background: transparent;
    border: none;
}

.be-menu {
    color: #fff;
}

.be-menu nav {
    display: inline-block;
    float: right;
}

.be-menu .nav > li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #1a242f;
    cursor: pointer;
}

.be-menu .nav-collapse .nav > li > a,
.be-menu .nav-collapse .dropdown-menu a {
    margin: 0 !important;
    border-radius: 0 !important;
    text-shadow: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 20px;
}

.banner {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    background-image: -webkit-linear-gradient(top, #2ED0B0 0, #06A989 100%)!important;
    background-image: linear-gradient(to bottom, #2ED0B0 0, #06A989 100%)!important;
    min-height: 450px;
    padding: 40px 0 40px;
}

#be-ingreso,
.be-ingreso {
    border: 1px solid #18bc9c;
    border-radius: 2px;
}

#be-salir {
    border: 1px solid #C0392B;
    border-radius: 2px;
}

.navegation {
    padding: 1px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.navegation h5 {
    font-weight: normal;
}

.navegation .contenedor {
    margin: 0 auto;
}

.navegation .row-fluid {
    margin: 0;
}

.be-page-container {
    /*margin-top: 100px;*/
    min-height: 500px;
}
footer .footer-up{
    background-color:#eee;
    padding: 1px;
}
footer .footer-down{
    padding: 1px;
    background-color:#34495E;
    color: #f5f5f5;
}
.btn-circle{
        width: 120px;
    height: 120px;
    border-radius: 50%;
}