/* 
    Document   : colores
    Created on : 28/08/2013, 12:17:36 AM
    Author     : Duvan Jamid
    Description:
        Purpose of the stylesheet follows.
*/
.azul-claro{
    background: #599CC7;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#7FB3D4),color-stop(100%,#599CC7)) !important;
    background-image: -webkit-linear-gradient(top,#7FB3D4,#599CC7) !important;
    background-image: -moz-linear-gradient(top,#7FB3D4,#599CC7) !important;
    background-image: -o-linear-gradient(top,#7FB3D4,#599CC7) !important;
    background-image: linear-gradient(top,#7FB3D4,#599CC7) !important;
    -webkit-box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #70AACF !important;
    -moz-box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #70aacf !important;
    box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #70AACF !important;
    border: 1px solid #599CC7 !important;
}
.verde-claro{
    background: #6EB056;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8CC079),color-stop(100%,#6EB056)) !important;
    background-image: -webkit-linear-gradient(top,#8CC079,#6EB056) !important;
    background-image: -moz-linear-gradient(top,#8CC079,#6EB056) !important;
    background-image: -o-linear-gradient(top,#8CC079,#6EB056) !important;
    background-image: linear-gradient(top,#8CC079,#6EB056) !important;
    -webkit-box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #70AACF !important;
    -moz-box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #70aacf !important;
    box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #70AACF !important;
    border: 1px solid #6EB056 !important;
}
.purpura{
    background: #9086BD;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#AEA7CF),color-stop(100%,#9086BD)) !important;
    background-image: -webkit-linear-gradient(top,#AEA7CF,#9086BD) !important;
    background-image: -moz-linear-gradient(top,#AEA7CF,#9086BD) !important;
    background-image: -o-linear-gradient(top,#AEA7CF,#9086BD) !important;
    background-image: linear-gradient(top,#AEA7CF,#9086BD) !important;
    -webkit-box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #A29AC8 !important;
    -moz-box-shadow: 0 1px 0 #f7f7f7,inset 0 1px 1px #a29ac8 !important;
    box-shadow: 0 1px 0 #F7F7F7,inset 0 1px 1px #A29AC8 !important;
    border: 1px solid #9086BD !important;

}
.gold{
    background: #C9922F;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#D5A44C),color-stop(100%,#C9922F)) !important;
    background-image: -webkit-linear-gradient(top,#D5A44C,#C9922F) !important;
    background-image: -moz-linear-gradient(top,#D5A44C,#C9922F) !important;
    background-image: -o-linear-gradient(top,#D5A44C,#C9922F) !important;
    background-image: linear-gradient(top,#D5A44C,#C9922F) !important;
    -webkit-box-shadow: inset 0 1px 2px #DAAF61  !important;
    -moz-box-shadow: inset 0 1px 2px #daaf61  !important;
    box-shadow: inset 0 1px 2px #DAAF61  !important;
    border: 1px solid #C9922F;
}
.rojo-claro{
    background: #E49181 !important;
    background-image: -webkit-gradient (linear,50% 0,50% 100%,color-stop(0%,#DC7E6F),color-stop(100%,#E49181))  !important;
    background-image: -webkit-linear-gradient(top,#DC7E6F,#E49181) !important;
    background-image: -moz-linear-gradient(top,#DC7E6F,#E49181) !important;
    background-image: -o-linear-gradient(top,#DC7E6F,#E49181) !important;
    background-image: linear-gradient(top,#DC7E6F,#E49181) !important; 
    border: 1px solid #D8553C !important;
}
.cyan {
    background: #81BABD;
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#A2CCCF),color-stop(100%,#81BABD)) !important;
    background-image: -webkit-linear-gradient(top,#A2CCCF,#81BABD) !important;
    background-image: -moz-linear-gradient(top,#A2CCCF,#81BABD) !important;
    background-image: -o-linear-gradient(top,#A2CCCF,#81BABD) !important;
    background-image: linear-gradient(top,#A2CCCF,#81BABD) !important;
    border: 1px solid #66ABAF !important;
}
