/* 
    Document   : GestionarModelo
    Created on : 25/10/2013, 12:02:52 AM
    Author     : Duvan Jamid
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background:  #FBFBFB url('/eisi/images/Acreditacion/wood.jpg');
    background-attachment: fixed;
}
.cambio_estado{
    position: absolute;
    left: 50%;
    margin-left: -61px;
    top: -7px;
}
.contenedor-fluido{
    margin: 0;
    padding: 0 ;
    position: relative;
    height: 100%;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
}
.nav-left{width: 240px;float: left;height: 100%;border-right:  1px solid #ccc;padding-left: 10px;  }
.nav-left>ul.navegacion{
    margin-right: -1px;
    margin-top: 0;
}
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a{
    border-radius:  0px;
}
.nav-tabs.nav-stacked > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: normal;
}
.nav-tabs.nav-stacked > li.active > a:before {
    content: "";
    position: absolute;
    right: -1px;
    width: 1px;
    top: 0;
    height: 100%;
    background: #FFF;
}
.nav-tabs.nav-stacked > li:not(.active) > a {
    -webkit-box-shadow:inset  -4px 0px 4px 0px #ebebeb;
    box-shadow: inset -4px 0px 4px 0px #ebebeb;
}
.nav-tabs.nav-stacked > li > a.titulo-menu {
    font-weight: bold;
    color: #6e6e6e;
}
.nav-tabs.nav-stacked > li.active > a {
    background: #FFF;
    border-right: 1px solid #FFF;
    margin-left: 10px !important;
    z-index: 200;
    position: relative;
    -webkit-box-shadow:  -8px 0px 8px 0px #4D4D4D;
    box-shadow:  -8px 0px 8px 0px #4D4D4D;
    border-left: 2px solid #349ACA;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
}
.pull-right{
    float: right !important;
    margin-right: -5px !important;
}
.nav-top{border: 1px solid #ccc; background: #FFF;padding: 0 20px 10px 20px;min-width: 750px;min-height: 35px;margin: 10px; color: #6e6e6e !important;
}
.main{margin-left: 250px; min-height: 400px;}
.container{ padding: 0 20px 20px 0px; min-width: 730px;position: relative;border:  1px solid #ccc;background: #FFF;margin: 10px 10px 10px 0;}
.container>iframe{ background: #FFF;}
.container,.container>iframe{

}
.table.table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.table.table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
.modal {
    width: 800px;
    margin-left: -400px;
}
iframe{
    border: none;
}