/* 
    Document   : ServiceLoguin
    Created on : 2/09/2012, 09:43:30 PM
    Author     : DUVAN
*/

root {
    display: block;
}
input,label{
    float: none !important;
    display: inline-block !important;
}

.portal{
    padding-top: 15px;
    font-size: 26px;
    line-height: normal;
}

.caja{
    background-color: #fff;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.shadow{
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
}
.space1{
    height: 10px;
}
.space2{
    height: 15px;
}
.space3{
    height: 20px;
}
.login{
    padding: 25px;
}


/*------------------------------------*\
   Body
   \*------------------------------------*/
.blur{
    background-size: cover;
    position: fixed;
    left: -10px;
    right: -10px;
    z-index: 0;
    display: block;
    top: -10px;
    bottom: -10px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

/*------------------------------------*\
   Header
   \*------------------------------------*/
header {
    height: auto;
    border-bottom: 1px solid #DDD;
}
.head_in{
    width: 980px;
    padding: 0px 10px 10px 10px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    position: relative;
}

#logo_uis{
    float: right;
    margin: 50px 10px 0 0;
}
#logo_escuela{
    float: left;
    margin: 10px 20px 10px 0;
    max-width: 80px;
    max-height: 70px;

}
#logo_escuela img{
    float: left;
    margin: 5px;
    max-width: 80px;
    max-height: 70px;
}
.ingreso{
    float: right;
    margin-top: 30px;
}
.ingreso a:first-child {
    -webkit-border-radius: 0px 0px 5px 0px;
    border-radius: 0px 0px 5px 0px;
}
.ingreso a:last-child {
    -webkit-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}
.ingreso a{
    color: white;
    width: auto;
    float: right;
    text-decoration: none;
    padding: 5px 10px 8px 10px;
    font-size: 15px;
    position: relative;
}
.ingreso a:hover{
    background-color: rgba(0,0,0,0.2);
}
.ingreso a:active{
    -webkit-box-shadow: inset 0px 0px 10px 0px #333;
    box-shadow: inset 0px 0px 10px 0px #333;
}
/*------------------------------------*\
   $Main
\*------------------------------------*/
.main {
    height: auto;
    margin: 30px auto 0;
    width: 980px;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    position: relative;
    background: none !important;
}
.centro{
    width: 100%;
    float: left;
    height: auto;
    padding: 10px;
}
.mensaje{
    margin: 0 auto;
    overflow: hidden;
    max-width: 400px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 9999;
}
.mensaje>h3,.mensaje>p{
    margin: 0;
    padding: 0;
    position: relative;
}
.mensaje>#close{
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #CE9D41;
    letter-spacing: 1px;
}
.mensaje>#close:hover{
    cursor: pointer;
}
/*------------------------------------*\
   $Ingreso
   \*------------------------------------*/
.login__title{
    padding: 5px 30px;
    margin: -25px -25px 20px -25px;
    color: #fff;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.keyboardInputInitiator.icon{
    float: right;
}
.login input{
    margin-left: 0px;
}
.login label{
    font-weight: normal;
    font-size: 14px;
}
.login__pass-forgot{
    margin-bottom: -25px;
    background-color: #444550;
    color: #fff;
    display: block;
    margin-top: 25px;
    padding: 5px;
}
a.login__pass-forgot:hover{
    text-decoration: none;
    color: #eee;
}
.login__pass-forgot>h5{
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.info{
    padding: 20px;
    position: relative;
}
.info__tag{
    position: absolute;
    top: 10px;
    left: -38px;
    width: 116px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 3px #333;
    -webkit-box-shadow: 0px 2px 6px 0 #707070;
    -moz-box-shadow: 0px 2px 6px 0 #707070;
    box-shadow: 0px 2px 6px 0 #707070;
    -webkit-transform :   scale(1) rotate(-45deg);
    -moz-transform :   scale(1) rotate(-45deg);
    -ms-transform :   scale(1) rotate(-45deg);
    -o-transform :   scale(1) rotate(-45deg);
    transform :  scale(1) rotate(-45deg);
    padding: 5px;
}
.info__tag:before{
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    border-width: 0 11px 11px 11px;
    border-color: transparent  transparent  transparent #555;
    border-style: solid;
}
.info__tag:after{
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    bottom: -12px;
    right: 0;
    border-width: 0 11px 11px 11px;
    border-color: transparent #555 transparent  transparent;
    border-style: solid;
}


.info h3{
    margin-bottom: 0px;
    padding-left: 10px;
}

.info p{
    text-align: justify;
}
.elementos{
    min-height: 350px !important;
    background-image: url('/eisi/images/Estandar/Elise/ehope/borde.jpg');
    background-position: 0 100%;
    background-repeat: repeat-x;
}
.elementos ul{
    display: inline-block;
    padding: 0;
    margin: 15px 20px 15px 10px;
    font-size: 14px;
    list-style: none;
}
.elementos li{
    float: left;
    font-size: 14px;
    list-style: none;
    margin: 5px 0 0 0;
} 
.elementos li strong{
    float: left;
} 
.elementos li p{
    font-size: 13px;
    margin-top: 0;
    padding-left: 30px;
    text-align: justify;
}




