.file-wraper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.file-header{
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    height: 60px;
    z-index: 3;
    background-color: #f3f3f4 !important;
    border-bottom: 1px solid #DDD;
    padding: 0 20px;
}
.file-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    bottom: 0;
    background-color: #2f4050;
    z-index: 2;
    color: #FFF;
}
.file-detailsbar{
    position: fixed;
    top: 60px;
    width: 310px;
    bottom: 0;
    right: 0;
    background-color: white;
    display: none;
    border-left: 1px solid #ccc;
    padding: 10px 20px;
    overflow-x:hidden;

}
.boton-nuevo {
    background: #1ab394;
    border: 1px solid #1ab394;
    border-bottom-color: #1ab394;
}
.boton-nuevo.buscar {
    box-shadow: none;
}
.boton-nuevo:hover {
    border: 1px solid #1ab394;
    border-bottom-color: #1ab394;
    background: #1ab394!important;
}

.editar-descripcion{
    resize: none;
    border-style:none;
    box-shadow:none;
    margin:0;
    background-color: #f6f7f8;

}
.file-sidebar .accordion-inner{
    padding: 0 0 0 10px;
}
.sub-accordion{
    margin-bottom: 0;
}
.file-sidebar-content{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    width: 230px;
    z-index: 1;
}
.file-detailsbar{
    position: absolute;
    overflow-y: auto;
}
.file-sidebar-content .accordion-heading .accordion-toggle{
    background: none;
    border: none;
    padding: 5px;
}
.file-sidebar-content .accordion-heading .accordion-toggle:hover{
    background: #e5e5e5;
}
.file-sidebar-content .accordion-heading .accordion-toggle span.folder-open ,
.file-sidebar-content .accordion-heading .accordion-toggle span.folder-close {
    position: absolute;
    /*background: #e5e5e5;*/
}
.file-sidebar-content .accordion-heading .accordion-toggle span.folder-close {
    display: none;
}
.file-sidebar-content .accordion-heading .accordion-toggle:not(.collapsed) span.folder-close {
    display: block;
}
.file-sidebar-content .accordion-heading .accordion-toggle:not(.collapsed) span.folder-open {
    display: none;
}
.file-sidebar-content .accordion-heading .accordion-toggle .folder-label{
    margin-left: 22px;
}
.file-sidebar-content .accordion-heading .accordion-toggle.active{
    background: #ececec;
    color: #2980B9;
    border-right: 2px solid;
}
.file-sidebar-content .accordion-group{
    background: none;
    border: none;
}
.file-sidebar-content .accordion-inner{
    background: none;
    border: none;
}
.file-content{
    position: fixed;
    top:60px;
    left: 230px;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    background: #f5f5f5;;
    border-left:  1px solid #ccc;
    padding-bottom: 150px;
}
.file-sidebar-content{
    overflow-y: auto;
}
#file-navegation h4{
    margin: 0 3px;
}
[class*=" mi-"], [class^=mi-] {
    font-size: 1.7em;
}
/*Para las vistas de los archivos*/
.file-view{
    width: 140px;
    display:inline-block;

    background: #fff;                
    border-radius: 2px;
    margin:10px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}
.file-view.eliminar{
    background: #e35442;            
    color: white;
}
.file-view.favorito .isfavorito {
    display: block;
}
.detalles-archivo.favorito .isfavorito {
    display: block;
}
.isfavorito {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #FFC524;
    text-align: center;
}
.cerrar-detalles {
    position: absolute;
    top: 0;
    right: 0px;
}
.file-view>div{
    overflow: hidden;
    padding: 10px;
    position: relative;
    border-radius: 2px;
}

.file-view:hover{
    box-shadow: 0 0  10px #222;
    cursor: pointer;
}

.file-view.selected{
    box-shadow: inset 0 0 0px 3px rgb(26, 179, 148);
    cursor: pointer;
}
.submenu .submenu .submenu .submenu .submenu>li.menu-item>.heading{
    padding-left: 75px;
}
.submenu .submenu .submenu .submenu>li.menu-item>.heading{
    padding-left: 60px;
}
.submenu .submenu .submenu>li.menu-item>.heading{
    padding-left: 45px;
}
.submenu .submenu>li.menu-item>.heading{
    padding-left: 30px;
}
.submenu>li.menu-item>.heading {
    padding-left: 15px;
}
.file-view.new {
    background-color: #3498db;
}
.file-view-icon{
    background-size: 55%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height:110px;
    margin-bottom: 10px;
}
.file-view-label{
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
    text-align: center;
}
#sidebar-container{
    list-style: none;
    padding-left: 0px;
}
span.folder-open , span.folder-close{
    position: absolute;
}
.folder-label{    
    margin-left: 22px;
}
.subfolder-label{
    margin-left: 20px;
}
.heading.active{
    color: #1ab394;
    border-right: 3px solid;
    background-color: rgba(0,0,0,0.5);
}
.heading{    
    padding: 4px 4px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
}
.heading:hover{
    background: #293846;
}
.submenu{
    list-style: none;
    padding-left: 0px;
}
li.menu-item[data-idarchivo='favoritos'] .heading.active {
    color: #FFC524;
}
li.menu-item[data-idarchivo='papelera'] .heading.active {
    color: #F33030;
}
.menu-item{
    list-style: none;
}
.new-folder{
    padding-left: 0px;
}
.file-sidebar-content .heading span.folder-close {
    display: none;
}
.file-sidebar-content li.item-open>div>span.folder-close {
    display: block;
}
.file-sidebar-content li.item-open>div>span.folder-open {
    display: none;
}
.btn-group>.dropdown-menu.pull-right{
    margin: 0;
}
.btn-group{
    font-size: 0.9em;
}
.folder-mv{
    cursor: pointer;
}
.folder-mv.selected{
    background-color: #ecf0f1;
}
#lista-carpetas{
    padding: 4px 4px;
    white-space: nowrap;
}
.header{
    color: #3498db;
    cursor: pointer;
}

.destinos{
    list-style-type: none;
    height: 300px;
    margin: 0;
    padding: 0;
    clear:right;
}

.destinos li{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.destinos li>label{
    display: block;
}
.destinos img{
    width: 30px;
    height: 30px;
    margin-right:5px;
}
.destinos .echeck{
    float: left;
}
.destinos p{
    margin-left: 10px;
    display: inline-block;
    margin: 0 0 0 10px
}
.option-box {
    border: 1px solid #ddd;
    padding: 13px;
    background-color: #f5f5f5;
    border-radius: 2px;
    text-align: center;
    min-height: 105px;
}
.option-box:hover .box-icon{
    color: #04ABAA;
}
.option-box:hover{
    box-shadow: 0 0 5px 0 #ccc;
    cursor: pointer;
}
.box-icon{
    font-size: 70px;
    color: #757575;
}
.btn-up [class*=" mi-"],.btn-up [class^=mi-]{
    font-size: 1.4em;
}

.btn-up-favorite.active{
    color: #FFC524;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    cursor:pointer;
}
.btn-up-details.active{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    cursor:pointer;
}
.btn-up-delete.active{
    color:#D91E18;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    cursor:pointer;
}
.btn-up-share.active{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    cursor:pointer;
    background-color:#f7f8f9;
}
.btn-up-download.active{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
    cursor:pointer;
    background-color:#f7f8f9;
}
.quitar-compartir{
    position:absolute;
    right: 5px;
    font-size: 1.3em;
    font-weight: bold;
}
.compartidos ul{
    margin: 0;
    padding: 0;
}
.compartidos h3{
    font-weight: bold;
}
.compartidos h4{
    font-weight: bold;
    border-bottom: 1px solid;
}
.quitar-compartir:hover{
    color: #C0392B;
}
.quitar-compartir:hover{
    cursor:pointer;
    background-color: #ecf0f1;
}
.shared-with{
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding: 3px 5px;
    position: relative;
}
span.shared-file-name {
    font-size: 0.8em;
}