/* 
    Document   : VerContenidos
    Created on : 17/06/2012, 04:56:55 PM
    Author     : Duvan Jamid Vargas
    Description:
        Purpose of the stylesheet follows.
*/

body{ 
    background: url('/eisi/images/fondoAulaEstudiantes.png');
    background-repeat: repeat; font-family:Arial, sans-serif; 
    color: #FAFAFA; width: 100%; height: 100%; margin: 0; padding: 0;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
}
iframe{
    width: 100%; border-radius: 10px; margin-bottom: 10px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    background-color: #fff;
    background-image: none;
}
iframe#Vista>html>body{
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
    background-image: none;
}
iframe#Vista html:first-child{
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
}
form { margin: 0; padding: 0; }
a{text-decoration: none;}

ul { list-style: none; margin: 0; padding: 0;} 
ul li{ cursor:pointer;}

.wrapper{ width: 100%; height: 100%;}

.izquierda { width: 230px; height: auto; margin:0 10px; padding: 0; float: left;}  
.derecha { margin: 0 10px 0 250px; padding: 0; float: right; position: absolute;}
.titulosaula { 
    width: 100%; height: 40px; color: #FAFAFA; font-size: 14px; font-weight: bold;
    text-align: center; line-height: 40px; text-transform: uppercase; 
}
.hundidos { 
    background-color: #303030; border-radius: 10px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
}
.hundidos .fotoprofesor{ margin: 20px 50px; border: 5px solid #FAFAFA; border-radius: 10px; height:130px; width:130px;}

.hundidos .nombreprofesor { font-size: 13px; text-align: center; padding-bottom: 10px; }

.hundidostitulo{
    text-align: center; padding: 7px 0; border-bottom:1px solid black; 
    font-size: 13px; font-weight: bold; 
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);                         
    background: url('/eisi/images/fondoTituloRojoAula.png');  
}
/* para el acordeon del cotenido*/
/* +++++++++++++++Inicio++++++++++++++++*/
.contenido {

    width: 210px;
    height: auto;
    display: block;
    background-color: #FFF ;
    float: left;
    margin: 10px;
}
ul.lista {
    display: block;
    cursor: pointer;
    list-style:none;
    float: left;
    width: 210px;
    margin: 0;
    padding: 0;

    background: #2494CD;
    background: -moz-linear-gradient(top, #2494CD 0%, #1A72A1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #2494CD),color-stop(100%, #1A72A1));
    background: -webkit-linear-gradient(top, #2494CD 0%, #1A72A1 100%);
    background: -o-linear-gradient(top, #2494CD 0%, #1A72A1 100%);
    background: -ms-linear-gradient(top, #2494CD 0%, #1A72A1 100%);
    background: linear-gradient(top, #2494CD 0%, #1A72A1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2494cd',endColorstr='#1a72a1',GradientType=0 );

}
ul.lista li.nivel1 {
    margin: 0;
    padding:  0;
    float: left;
    width: 210px;
}
ul.lista li.nivel1>span {
    margin: 0;
    padding: 3px 5px 3px 5px;
    float: left;
    width: 200px;
    color: #f7f8f9;
    font-size: 13px;
    font-weight: bold;
    /*   border: solid 1px #176E9B; 
       background: #2494CD;
       background: -moz-linear-gradient(top,#2494CD 0%,#1A72A1 100%);
       background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2494CD),color-stop(100%,#1A72A1));
       background: -webkit-linear-gradient(top,#2494CD 0%,#1A72A1 100%);
       background: -o-linear-gradient(top,#2494CD 0%,#1A72A1 100%);
       background: -ms-linear-gradient(top,#2494CD 0%,#1A72A1 100%);
       background: linear-gradient(top,#2494CD 0%,#1A72A1 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2494cd',endColorstr='#1a72a1',GradientType=0 );*/
    border-bottom: solid 1px #035D8B;
    border-top: 1px solid #00B5FC;
}
ul.lista li.nivel1>span:hover {
    /*border-color: #E99324;
    color: #E99324;
    */-moz-box-shadow: inset 0 0 10px #666;
    -webkit-box-shadow: inset 0 0 10px #666;
    box-shadow: inset 0 0 10px #666;

    background: rgb(26,114,161); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(26,114,161,1) 1%, rgba(36,148,205,1) 16%, rgba(36,148,205,1) 46%, rgba(36,148,205,1) 82%, rgba(26,114,161,1) 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(26,114,161,1)), color-stop(16%,rgba(36,148,205,1)), color-stop(46%,rgba(36,148,205,1)), color-stop(82%,rgba(36,148,205,1)), color-stop(97%,rgba(26,114,161,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(26,114,161,1) 1%,rgba(36,148,205,1) 16%,rgba(36,148,205,1) 46%,rgba(36,148,205,1) 82%,rgba(26,114,161,1) 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(26,114,161,1) 1%,rgba(36,148,205,1) 16%,rgba(36,148,205,1) 46%,rgba(36,148,205,1) 82%,rgba(26,114,161,1) 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(26,114,161,1) 1%,rgba(36,148,205,1) 16%,rgba(36,148,205,1) 46%,rgba(36,148,205,1) 82%,rgba(26,114,161,1) 97%); /* IE10+ */
    background: linear-gradient(top, rgba(26,114,161,1) 1%,rgba(36,148,205,1) 16%,rgba(36,148,205,1) 46%,rgba(36,148,205,1) 82%,rgba(26,114,161,1) 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a72a1', endColorstr='#1a72a1',GradientType=0 ); /* IE6-9 */

    color: #f7f8f9;
}

ul.lista li.nivel1>ul {
    list-style: none;
    padding: 0 5px 0 5px ;
    float: left;
    display: none;
    background-color: #fff;
}
ul.lista ul>li.nivel2 {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #666;
    position: relative;
}
ul.lista ul>li.nivel2:last-child {
    border-bottom: none;
}
ul.lista li.nivel2>span {
    margin: 0;
    padding: 3px 5px 3px 5px;
    float: left;
    width: 190px;
    /*            background-color: #E99324;*/
    color: #222;
    font-size: 13px;

}
ul.lista li.nivel2>span:hover {

    background-color: #E99324;
    color: #f7f8f9;
}
ul.lista ul>li.nivel2>span.active3 {
    background-color: #E99324;
    color: #f7f8f9;
    position: relative;
}
ul.lista ul>li.nivel2>span.active3:after {
    /*   content: "";
       width: 20px;
       height: 20px;
    
       background-color: #E99324;
       color: #f7f8f9;
       position: absolute;
       top: 20%;
       right: -10px; 
    
       -moz-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
       -webkit-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
       -o-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
       -ms-transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);
       transform: scale(1) rotate(45deg) translate(0px, 0px) skew(0deg, 0deg);*/
}
/* para el acordeon del cotenido*/
/* +++++++++++++++Fin++++++++++++++++*/
.MenuSup{
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}