/* 
    Created on : 12/07/2015
    Author     : duvanj
*/

.timeline-content{
    background-color: #f1f1f1;
}
.timeline{
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
}
.timeline:before{
    content: "";
    width: 3px;
    background-color: #fff;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    position: absolute;
    left: 34px;
    top: 20px;
    bottom: 20px;
}
.timeline-item{
    display: block;
    padding: 10px 0;
    position: relative;
    min-height: 50px;
}
.timeline-avatar{
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50% 0 50% 50%;
    transform: rotate(45deg);
    top: 10px;
    left: 10px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
} 
.timeline-avatar-img{
    width: 60px;
    height: 60px;
    background-size: cover;
    transform: rotate(-45deg);
    margin: -5px 0px 0px 2px;
    background-size: cover;
}
.timeline-avatar:hover{
    cursor: pointer;
}
.timeline-msg{
    margin:0 15px 0 90px;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    white-space: normal;
    position: relative;
}
.timeline-msg:before,.timeline-msg:after{
    content: "";
    border-width: 10px 10px 10px 0;
    border-style: solid;
    position: absolute;
    left: -11px;
    top: 15px;
}  
.timeline-msg:before{
    border-color: transparent #ddd transparent transparent;
}  
.timeline-msg:after{
    border-color: transparent #fff transparent transparent;
    left: -9px;
}
.timeline-msg-header{
    padding: 7px 10px;
}
.timeline-hour{
    float: right;
    display: inline-block;
}
.timeline-msg-content{
    padding: 10px;
}
.timeline-msg-footer{
    padding: 5px 10px;
}
.timeline-msg-ranking{
    font-size: 1.2em;
} 
.timeline-msg:hover .timeline-msg-ranking{
    color: #E67E22;
}
/* cambio de fecha */
.timeline-item.date .timeline-avatar{
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: none;
    color: #fff;
    font-size: 1.4em;
    border-radius: 50% 0 50% 50%;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
    box-shadow: none;
    background-color: #2980B9;
} 
.timeline-item.date .timeline-avatar>span{
    transform: rotate(-45deg);
    display: block;
} 
.timeline-item.date .timeline-msg{
    background-color: #2980B9;
    color: #fff;
    display: inline-block;
    margin-top: 8px;
    box-shadow:none;
} 
.timeline-item.date .timeline-msg:hover{
    cursor: pointer;
}
.timeline-item.date .timeline-msg .timeline-msg-content{
    padding: 7px 10px;
}
.timeline-item.date .timeline-msg:before,
.timeline-item.date .timeline-msg:after{
    top: 6px;
    border-color: transparent ;
}  
.timeline-item.date  .timeline-msg:after{
    border-color: transparent #2980B9 transparent transparent;
    left: -10px;
} 
/* cambio de participar */
.timeline-item.participe .timeline-avatar{
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #16A085;
    color: #fff;
    font-size: 1.4em;
    border-radius: 50% 0 50% 50%;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
    box-shadow: none;
}    
.timeline-item.participe .timeline-avatar>span{
    transform: rotate(-45deg);
    display: block;
} 
.timeline-item.participe .timeline-msg{
    background-color: #16A085;
    color: #fff;
    display: inline-block;
    margin-top: 8px;
    box-shadow:none;
}
.timeline-item.participe .timeline-msg:hover{
    cursor: pointer;
}
.timeline-item.participe .timeline-msg .timeline-msg-content{
    padding: 7px 10px;
}
.timeline-item.participe .timeline-msg:before,
.timeline-item.participe .timeline-msg:after{
    top: 6px;
    border-color: transparent ;
}  
.timeline-item.participe  .timeline-msg:after{
    border-color: transparent #16A085 transparent transparent;
    left: -10px;
}
/* cambio de Load more */
.timeline-item.load-more .timeline-avatar{
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: none;
    color: #fff;
    font-size: 1.4em;
    border-radius: 50% 0 50% 50%;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;
    box-shadow: none;
    background-color: #95A5A6;
} 
.timeline-item.load-more .timeline-avatar>span{
    transform: rotate(-45deg);
    display: block;
}
.timeline-item.load-more .timeline-avatar.active>span{
    -webkit-animation: timeline-icon-rotate 1s infinite linear;
    -moz-animation: timeline-icon-rotate 1s infinite linear;
    animation: timeline-icon-rotate 1s infinite linear;
} 
@-webkit-keyframes timeline-icon-rotate {
    0% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}
@-moz-keyframes timeline-icon-rotate {
    0% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}
@keyframes timeline-icon-rotate {
    0% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}
.timeline-item.load-more .timeline-msg{
    background-color: #95A5A6;
    color: #fff;
    display: inline-block;
    margin-top: 8px;
    box-shadow:none;
}
.timeline-item.load-more .timeline-msg:hover{
    cursor: pointer;
}
.timeline-item.load-more .timeline-msg .timeline-msg-content{
    padding: 7px 10px;
}
.timeline-item.load-more .timeline-msg:before,
.timeline-item.load-more .timeline-msg:after{
    top: 6px;
    border-color: transparent ;
}  
.timeline-item.load-more  .timeline-msg:after{
    border-color: transparent #95A5A6 transparent transparent;
    left: -10px;
}
