/*
    Document   : colorEscuela
    Created on : 8/09/2012, 12:35:58 AM
    Author     : DUVAN JAMID VARGAS
    Description:
        Colores base para portal por escuela
*/


.colorFondo1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cd6e43+0,e5a658+50,cd6e43+99 */
    background: rgb(205,110,67); /* Old browsers */
    background: url('/eisi/css/index7/fondo.png') no-repeat top right,-moz-linear-gradient(left,  rgba(205,110,67,1) 0%, rgba(229,166,88,1) 50%, rgba(205,110,67,1) 99%) !important; /* FF3.6-15 */
    background: url('/eisi/css/index7/fondo.png') no-repeat top right,-webkit-linear-gradient(left,  rgba(205,110,67,1) 0%,rgba(229,166,88,1) 50%,rgba(205,110,67,1) 99%) !important; /* Chrome10-25,Safari5.1-6 */
    background: url('/eisi/css/index7/fondo.png') no-repeat top right,linear-gradient(to right,  rgba(205,110,67,1) 0%,rgba(229,166,88,1) 50%,rgba(205,110,67,1) 99%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-position: top right;
    background-repeat: no-repeat;
}

.color1 {
    color:rgb(205,110,67) !important;
}

.colorFondo2 {
    background: #02bf7c;
    /* Old browsers D35400 */
}

.colorFondo3 {
    background: white;
    background: -moz-linear-gradient(top, white 1%, #F7F7F7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, white), color-stop(100%, #F7F7F7));
    background: -webkit-linear-gradient(top, white 1%, #F7F7F7 100%);
    background: -o-linear-gradient(top, white 1%, #F7F7F7 100%);
    background: -ms-linear-gradient(top, white 1%, #F7F7F7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    background: linear-gradient(top, white 1%, #F7F7F7 100%);
}

.color2 {
    color: #4d4d4d;
}

.borde1 {
    border-color:rgb(205,110,67) !important;
}

.borde2 {
    border-color: #4d4d4d !important;
}

.borde3 {
    border-color: #DEDBE4;
}

#logo_escuela img {
    border-radius: 10px;
}
/*
*---------------------------------------
* CASOS ESPECIALES
*---------------------------------------
*/

div#menu{
    background: rgba(229,166,88,1) !important; /* Old browsers */
}

.colorFondo1 div.ingreso{
    background: rgba(229,166,88,1)  !important; /* Old browsers */

}
