body{ 
    background: url('/eisi/images/fondoAulaEstudiantes.png');
    background-repeat: repeat; font-family:Arial, sans-serif; 
    color: #FAFAFA; width: 100%; height: 100%; margin: 0; padding: 0;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
}
iframe{
    width: 100%; border-radius: 10px; margin-bottom: 10px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2); 
}
form { margin: 0; padding: 0; }
a{text-decoration: none;}

ul { list-style: none; margin: 0; padding: 0;} 
ul li{ cursor:pointer;}

.wrapper{ width: 100%; height: 100%;}

.izquierda { width: 230px; height: 100%; margin:0 10px; padding: 0; float: left;}  
.derecha { margin: 0 10px 0 250px; padding: 0; float: right; position: absolute;}

.titulosaula { 
    width: 100%; height: 40px; color: #FAFAFA; font-size: 14px; font-weight: bold;
    text-align: center; line-height: 40px; text-transform: uppercase; 
}
.hundidos { 
    background-color: #303030; border-radius: 10px;
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1), 0px 2px 5px 0px rgba(255, 255, 255, 0.2);
}
.hundidos .fotoprofesor{ margin: 20px 50px; border: 5px solid #FAFAFA; border-radius: 10px; height:130px; width:130px;}

.hundidos .nombreprofesor { font-size: 13px; text-align: center; padding-bottom: 10px; }

.hundidostitulo{
    text-align: center; padding: 7px 0; border-bottom:1px solid black; 
    font-size: 13px; font-weight: bold; 
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 1);                         
    background: url('/eisi/images/fondoTituloRojoAula.png');  
}

.selector {overflow: auto;height: 118px;}

.caja { width: 25%; height: 100%; float: left; }
.caja ul li{ border-bottom: 1px solid black; border-top: 1px solid #404040; color: #FAFAFA; height: 20px; padding: 5px 0 0 35px; font-size: 12px;}
.caja ul {border-bottom: 1px solid #404040;}
.caja ul li a, .caja ul li a:visited, .caja ul li a:link {color: #FAFAFA;}

.atras {background: transparent; color: #FAFAFA; font-size: 25px; width: 27%; height: 50px; border:0; }
.adelante {background: transparent; color: #FAFAFA; font-size: 25px; width: 27%; height: 50px; border:0; }
.centro {background: transparent; color: #FAFAFA; font-size: 30px; width: 30%; height: 50px; border: 1px solid #525252; }
.atras:hover {font-size: 25px;}
.adelante:hover {font-size: 25px;}
.centro:hover {font-size: 30px;}

a.tooltip{position:relative;text-decoration:none; font-size: 13px; padding: 5px 10px; display: block; color: #FAFAFA; border-bottom: 1px solid black; border-top: 1px solid #5E5E5E;}
a.tooltip:first-child{border-top: none;} a.tooltip:last-child{border-bottom: none;}
a.tooltip span{display:none}
a.tooltip:hover span{display:block; position:absolute; top:-12em; left:6em; width:120px; border:1px solid #333; background-color:#EDF1F1;  color:#000; text-align:left; font-family:Arial,Helvetica,sans-serif; font-size:12px; padding:5px}

.boton {font-size: 11px;
		color: #0F144B;
		border: 1px #BBB solid;
		font-weight: bold;
                 background:#FFFFFF url(/eisi/images/index6/gris.png) left repeat-x ;
                border-radius:5px;
                -moz-border-radius:5px;
                padding: 2px;
                padding-left: 5px;
                padding-right: 5px;}
.boton:hover{ background: white;}
.boton:active{ background: #E8E8E8; -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 1); border: none;  }
.clickable{ cursor:hand; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }