.textoerror {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0F144B;
	font-weight: bold;
	
}
.correocalumet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0F144B;
	font-weight: bold;	
}

.opciones{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0F144B;	
	text-transform: uppercase;	
	text-decoration:none;
	font-weight: bold;
}

.fondoerror {
	background-color: #FFFFFF;
}
.fondomensaje {
	background-image: url('../images/banner/fondo_tabla_secciones.jpg');
	background-repeat:  repeat-x; 
}

a:link {
	color: #2C3872; text-decoration: none;
} 
a:visited{
	color: #2C3872; text-decoration: none;
}
a:hover{
	color: #E67016;	text-decoration: none;
}