/* 
    Document   : planesEstud
    Created on : 10/06/2011, 10:56:55 AM
    Author     : Mi-DuJa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

ul.topnav {
	list-style: none;
	padding: 0 10px;
	margin: 0;
	float: left;
	width: 820px;
	font-size: 1.2em;
	background: url(/eisi/images/gris.png) repeat-x;
          border-radius:10px;
    -moz-border-radius:10px;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 45px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
        
}
ul.topnav li a{
	padding: 10px 5px;
	color: #0000;
	display: block;
	text-decoration: none;
	float: left;
          border-radius:10px;
    -moz-border-radius:10px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
     color: #000000;
}
ul.topnav li a:hover{
	background: url(/eisi/images/gris2.png) repeat-x center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 30px;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: auto;
/*	/border: 1px solid #ccc;*/
          border-radius:10px;
     -moz-border-radius:10px;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	clear: both;
	width: auto;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 200px;
	background: #FFF url(/eisi/images/gris.png) repeat 10px center;
	padding-left: 20px;
         border-radius:10px;
    -moz-border-radius:10px;
    border: 1px solid #ccc;
    color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    font-weight: bold;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #ccc url(/eisi/images/gris2.png) repeat 10px center;
         border-radius:10px;
    -moz-border-radius:10px;
     color: #000000;
}

.botones{
    float: right;
    width: 32px;
    height: 32px;
    margin-right: 20px;
    

}