/* 
    Document   : listasforos
    Created on : 3/02/2012, 07:44:55 AM
    Author     : LuengasCepeda
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    background-color:#fff;
}
/***************************************************/
#lista-foros{
    width: 700px;
    margin: 0 auto;
    height: auto;
    padding: 0 10px 10px 10px;
    overflow: hidden;
}
.titulo-prin-foro{
    width: 690px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f1f1f1;
    margin: 0;
}
.foro-ind-cont{
    float: left;
    width: 700px;
    padding: 0px;
    height: auto;
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
}
.titulo-foro{
    float: left;
    background-color: #e0e0e0;
    width: 680px;
    padding: 10px;
    height: 100px;
    position: relative;
    border-bottom:1px solid #ddd;
}
.msg-foro{
    float: left;
    background-color: #e0e0e0;
    width: 680px;
    padding: 10px;
    height: auto;
    display: none;
    border-top:1px solid #fff;
}
.cont-msg{
    float: left;
    width: 660px;
    padding: 10px;
    margin: 0;
    height: auto;
    background-color: #fefefe;
    font-size: 14px;
    color: #333;
}
.msg-inf{
    float: left;
    width: 680px;
    padding: 2px 0 0 0;
    margin: 10px 0 0 0;
    height: auto;
    border-top: 1px solid #ddd;
}
.btn-participar{
    float: right;
    width: 80px;
    color: #333;
    background-color: #eee;
    font-size: 15px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.btn-participar:hover{
    background-color: #ccc;
     border: 1px solid #bbb;
    cursor: pointer;
}
.foto{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #333;
}
.foto img{
    float: left;
    width: 50px;
    height: 50px;
}
.titulo-nombre-foro{
    padding-left: 10px;
    float: left;
    margin: 0;
    width: 570px;
    height: 60px;
}
.titulo-nombre-foro h4{
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    width: 580px;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.titulo-nombre-foro p:last-child{
    float: left;
    margin: 0;
    padding: 0;
    width: 380px;
    height: auto;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
.titulo-nombre-foro p{
    float: right;
    margin: 0;
    padding: 0;
    width: 150px;
    height: auto;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
/*para tag area subarea */
.area-subarea-foro p:first-child{
    float: left;
    color: #333;
    font-size: 14px;
}
.area-subarea-foro p:last-child{
    float: right;
    color: #555;
    font-size: 13px;
    width: 130px;
    text-align: right;
}
.btn-foro-ver-msg{
    background-image: url('/eisi/images/index6/Continue.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #bbb;
}
.btn-foro-ver-msg.active{
    background-image: url('/eisi/images/index6/Continue2.png');
}
.btn-foro-ver-msg:hover{
    background-color: #bbb;
    border: 1px solid #aaa;
    cursor: pointer;
}

/***************************************************/

