/*!
 * Document   : 2980b9
 * Created on : 21/04/2015, 12:43:39 AM
 * Author     : duvanjamid
 **/

/**
 * CONTENIDO
 * ---------
 * $GENERAL
 * $COLORESBASE
 * $CABECERAS
 * $MENU
 * $NAVEGaCION
 * $BOTONES
*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: normal;
    color: inherit;
}
h2{
    border-color: #ccc;
}
a:link{
    color: #2980b9;
    opacity: 0.8;
}
a{
    color: #2980b9;
    opacity: 0.8;
}
blockquote{
    color: #555;
}





/*------------------------------------*\
    $COLORESBASE
\*------------------------------------*/

.color-principal{
    color:  #2980b9;
}
.fondo-principal{
    background:   #2980b9;
}
.borde-principal{
    border-color:  #2980b9;
}
.color-secundario{
    color:  #6B993D
}
.fondo-secundario{
    background:   #6B993D
}
.borde-secundario{
    border-color:  #6B993D
}





/*------------------------------------*\
    $CABECERAS
\*------------------------------------*/

.header-top{
    border-bottom: 1px solid #E9E9E9;
    color: #2980b9;
}
.header-titulo{
    color: inherit;
}
.header-subtitulo{
    margin-top: 0;
    color: #2980b9;
}





/*------------------------------------*\
    $MENU
\*------------------------------------*/

nav {
    background-color: #2980b9;
    z-index: 20;
}
.navbar .nav>li>a {
    border-bottom: 2px solid transparent;
    color: #fff !important;
    border-radius:30px !important;
}
.navbar .nav>li>a:hover,
.navbar .nav>li.open>a{
    background-color: #fff;
    border-bottom: 2px solid #2980b9;
    color: #2980b9 !important;
}
nav .dropdown-menu>li>a {
    color: #666 !important;
}
nav .dropdown-menu>li>a:hover {
    background-color: #EEE !important;
    color:#2980b9 !important;
}





/*------------------------------------*\
    $NAVEGACION
\*------------------------------------*/

.navegacion{
    color:#FFFAFA;
    background-color: #2980b9;
}





/*------------------------------------*\
    $BOTONES
\*------------------------------------*/

.azul:hover {
    background: #2980b9 !important;
    border: 1px solid #2980b9;
    border-bottom-color: #2980b9;
    -webkit-box-shadow: 0 0 400px rgba(0, 0, 0, 0.1)inset,0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 400px rgba(0, 0, 0, 0.1)inset,0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) ;
}
.azul {
    color: #FFF !important;
    background: #2980b9;
    border: 1px solid #2980b9;
    border-bottom-color: #2980b9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

