@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols-regular-webfont.woff') format('woff'),
        url('websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ::::::::::::::::::::::::::::::::::::::::::: MANTENER INSCRIPCION :::::::::::::::::::::::::::::::::::::: */

.table th{
   text-align: center !important 
}
.table td{
    text-align: center !important;
}
.subtituloformulario{
        font-family: 'Trebuchet MS', Arial, Sans-serif;
        font-size: 15px;
}
.tituloMensaje{
        float:left;
        width: 800px;
        height: auto;
}
.mensaje{
        float:left;
        width: 800px;
        height: auto;
        font-family: 'Trebuchet MS', Arial, Sans-serif;
        font-size: 15px;
        color: rgb(109, 109, 109);
}
/* ::::::::::::::::::::::::::::::::::::::::::: VER INSCRITOS :::::::::::::::::::::::::::::::::::::: */
h1{
	font-size: 20px !important;
        line-height: 25px !important;
}
.cont-totalVerInscritos{
        width: 960px;
        margin: 0 auto;
        height: auto;
}
.ui-datepicker-month, .ui-datepicker-year{
	font-size:80% !important;
}
.contenedorVerInscritos{
	float:left;
	width:100%;
	height:auto;
        margin: 10px 0px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
}
.cont-EnviarCorreos{
	float: left;
	width: 880px;
        
	margin: 30px 20px;
        
	padding: 20px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0px 0px 2px #c5c7c5;
        -webkit-box-shadow: 0px 0px 2px #c5c7c5;
        box-shadow: 0px 0px 2px #c5c7c5;
}
.EnviarCorreo-lat-der {
        float: left;
        width: 850px;
        padding: 10px;
}
.EnviarCorreo-lista-tipos-sel {
        padding: 10px 5px 10px 5px;
        margin: 0px;
        float: left;
        min-height: 30px;        
        width: 760px;
        border: 1px solid #bbb;
        background-color: #f8f7f9;
        overflow: auto;
        -webkit-box-shadow: inset 0px 0px 5px 0px #ddd;
        -moz-box-shadow: inset 0px 0px 5px 0px #ddd;
        box-shadow: inset 0px 0px 5px 0px #ddd;
}
.EnviarCorreo-lista-Asunto {
        float: left;
        padding: 0;
        margin: 10px 0 10px 0;
        height: auto;
        width: 800px;
        border-top: 1px solid #fff;
}
.EnviarCorreo-lista-Mensaje {
        padding: 0;
        margin: 10px 0 10px 0;
        height: auto;
        width: 830px;
        float: left;
}
.EnviarCorreo-lista-enviar {
        float: right;
        padding: 10px;
        height: auto;
        width: 850px;
        text-align: center;
}
.EnviarCorreo-lista-Mensaje textarea {
        margin: 10px auto;
}
.Usr-Select-Desti{
    float: left;
    width: auto;
    padding: 2px 3px 2px 5px;
    color: #333;
    background-color:  rgba(0, 153, 204,0.5);
    font-size: 0.8em;
    margin: 2px 2px 2px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.Elim-usr-select{
    float: right;
    margin: 2px 5px 2px 10px;
    font-size: 12px;
    color: #333;
    font-family: 'WebSymbolsRegular';
}
.Elim-usr-select:hover{
    color: #333;
    cursor: pointer;
}
.cont-enviarTodos{
        width: 100%;
        float: left;
        height: auto;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #444;
        font-weight: bold;
        line-height: 10px;
}
.editor-msg {
        float: left;
        padding: 0;
        margin: 0 0 0 60px;
        height: auto;
        width: 700px;
}
.cont-informacion{
	float: left;
	width: 900px;
	margin: 0px 30px 30px 30px;
}
.tituloEncabezadoEstado{
	float: left;
	width: 100%;
	height:30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C5766), color-stop(99%,#313841));
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	color:#FFF;
	text-align:center;
	padding-top:5px;
	size:18px;
        
}
/* codigo agregado por Angie V.*/
#btn_imprimir {
padding: 2px 6px;
font-size: 12px;
line-height: 14px;
min-height: 20px;
}
.titulo-informacion{
	float: left;
	width: 888px;
	background:#EDF1F3;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	color:#FFF;
	font-size:15px;
	text-align:center;
	padding:5px;
	border: 1px solid #D8DCDE;
}
.tit-nombre{
	width:280px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-estado{
	width:140px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-verInformacion{
	width: 74px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-numero{
	width:60px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-documento{
	width:105px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-eliminar{
	width: 74px;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.tit-campoEnviarCorreo{
	width:74px;
	color:#000;
	float:left;
        border-right: 1px solid #D8DCDE;
}
.tit-campoSeguimiento{
	width:74px;
	color:#000;
	float:left;
}
.marginL{
    margin-left: 0 !important;
}
.infoPersona{
	float: left;
	width: 898px;
	height:38px;
	background:#F9F9F9;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	color:#FFF;
	font-size:14px;
	border-left: 1px solid #D8DCDE;
	border-bottom: 1px solid #D8DCDE;
	border-right: 1px solid #D8DCDE;
}
.nombrePersona{
	width:280px;
	height:28px;
	padding-top:10px;
	text-align:center;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.estadoPersona{
	width: 120px;
	height: auto;
	padding: 0px 10px;
	text-align:center;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.verInfoPersona{
	width:40px;
	padding-left: 17px;
	padding-right: 17px;
	text-align:center;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.nPersona{
	width: 35px;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	color:#000;
	float:left;
	height: 28px;
	border-right: 1px solid #D8DCDE;
}
.documentoPersona{
	width: 75px;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
	text-align:center;
	color:#000;
	float:left;
	height: 28px;
	border-right: 1px solid #D8DCDE;
}
.eliminarPersona{
	width: 40px;
	padding-left: 17px;
	padding-right: 17px;
	text-align:center;
	color:#000;
	float:left;
	border-right: 1px solid #D8DCDE;
}
.enviarCorreo{
	width:40px;
	padding-left: 17px;
	text-align:center;
	color:#000;
	float:left;
	padding-right: 17px;
        border-right: 1px solid #D8DCDE;
}

.verSeguimiento{
	width:40px;
	padding-left: 17px;
	text-align:center;
	color:#000;
	float:left;
	padding-right: 17px;
}
/*:::::::::::::::::::::::::::::::::::::::: CREAR INSCRIPCION ::::::::::::::::::::::::::::::::::::::::*/
h2{
	width: 214px;
	padding-bottom:5px;
	font-size: 24px !important;
	line-height:60px !important;
}
.contcentro{
        width: 960px;
        margin: 0 auto;
}
.encabezadoPrincipal{
	width: inherit;
	color:#FFF;
	/*background-image:url(fondoTitCiclo1.png);*/
        background-color: #0404B4;
}
.contenedorCrearInscr{
	width:100%;
        float: left;
        margin:10px 0px;
	padding-bottom:10px;
        border:1px solid #ddd;
}
.contInfo-crearInscr{
	float:left;
	width: 950px;
	height:auto;
	font-size:15px;
	color:#000;
	padding-left:10px;
	margin-top:20px;
	border-bottom:1px solid #DDD;
}
.tituloInscr{
	float:left;
	width:660px;
	vertical-align:12px;
}
.tituloDesc{
	float:left;
	width:115px;
	margin-top:5px;
}
.descrInscr{
	float:left;
	width:800px;
	margin: 5px 0 5px 4px;
}
.estadoInscripcion{
	float:right;
	width:185px;
	margin-right:20px;
}
.contFechas-crearInscr{
	float:left;
	width:600px;
	margin-top:5px;
}
.tituloEstado{
	float:left;
	width: 940px;
	height:auto;
}
.tituloFechas{
	float:left;
	width:85px;
	font-size:15px;
	color:#000;
	margin-right: 20px;
	margin-top:10px;
}
.fechaIni{
	float:left;
	width:180px;
}
.fechaFin{
	float:left;
	width:180px;
}
.contAgregarFecha{
	float:left;
	width:100%;
	height:200px;
	background:#009;
}
.tituloAgregarFecha{
	float:left;
	width:inherit;
	height:70px;
	background:#0F0;
}
.contCampos-crearInscr{
	float:left;
	width: 950px;
	height:auto;
	margin-top:10px;
	padding-left:10px;
}
.cont-listaCampos{
	float:left;
	font-size:13px;
	width: 940px;
	padding-bottom:10px;
	border-bottom:1px solid #DDD;
	font-weight: bold;
}
.tituloListaCampos{
	float: left;
	margin-left:15px;
	height:25px;
	background-image:url(fondoTitCiclo.png);
	width: 890px;
	padding: 7px 10px 5px 10px;
	margin-top:20px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.contCampos{
	margin: 0 15px 0 15px;
	height: auto;
	float: left;
	background-color: #FFF;
	width: 200px;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid white;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	text-align:center;
}
.cajaCampos{
	float:left;
	width: 930px;
	margin-left:5px;
}
.campos{
	float:left;
	width: 930px;
	height:auto;
	margin: 0px !important;
}
.titCamposBasicos{
	float: left;
	width: 940px;
	margin-left: 0px !important;
	font-weight: bold;
	font-size: 15px;
}
.cont-CamposIncluidos{
	float:left;
	width: 940px;
	height:auto;
}
.camposIncluidos{
	float:left;
	width:800px;
	height:auto;
	min-height:200px;
	border: 1px solid #ECECEC;
	padding:15px;
        padding-bottom: 40px;
	margin-top:20px;
	position:relative;
        left:7%;
        margin-top:20px;
         background: #f9f9f9;
}
.cont-datosGeneralesCrearIncripcion{
	width: 800px;
	height:auto;
	float:left;
}
.contenidoCampos{
	width:100%;
	height:auto;
	float:left;
	padding: 5px 0px;
}
.contenidoOtrosCampos{
	width: 790px;
	height:auto;
	float:left;
	padding: 5px 0px;
	display:none;
	margin: 5px 0px;
	border:1px solid #FFF;
}
.tituloNuevo-otrosCampos{
        float: left;
        margin: 15px 20px;
        border-bottom: 1px solid #DDD;
}
.cont-textoAyuda{
        width: 100%;
        float: left;
        height: auto;
}
.cont-textoAyuda .textoAyuda{
        text-align:justify;
        font-size: 13px;
        font-family: 'Trebuchet MS', Arial, Sans-serif;
        width: 725px;
        margin: 0 auto;
        color: rgb(150, 150, 150);
}
.contBtnOtrosCampos{
	float: right;
	width: 205px;
	margin-right: 7px;
	display:none;
}
.contenidoOtrosCampos:hover{
	border:1px solid #DDD;
	cursor:pointer;
	background:#FCFCFC;
}
.tit-camposIncluidosPrincipales{
	margin: 15px 20px;
	border-bottom:1px solid #DDD;
}
#btnAgregarNuevoCampo{
	width: 930px;
	float: right;
	position: relative;
	margin-top: 10px;
	margin-right: 20px;
}
.contenedorPermisos{
	width: 860px;
	float:left;
	height:auto;
	padding-top:10px;
}
#cajaAgregarCampo{
	display:none;
	position:absolute;
	width:600px;
	left: 325px;
	top: 40px;
	height:auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #333;
	z-index: 2000;
	//-webkit-box-shadow: 0px 0px 10px 0px #333;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#cajaAgregarCampoFecha{
	display:none;
	position:absolute;
	width:600px;
	left: 30px;
	top: 40px;
	height:auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #333;
	z-index: 2000;
	//-webkit-box-shadow: 0px 0px 10px 0px #333;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#cajaAgregarCampoHora{
	display:none;
	position:absolute;
	width:600px;
	left: 256px;
	top: 40px;
	height:auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #333;
	z-index: 2000;
	//-webkit-box-shadow: 0px 0px 10px 0px #333;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#cajaAgregarCampoTitulo{
	display:none;
	position:absolute;
	width:600px;
	height:auto;
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #333;
	z-index: 2000;
	//-webkit-box-shadow: 0px 0px 10px 0px #333;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	top: 40px;
	left: 30px;
}
.lateralSup{
	float:left;
	border-right:1px solid #DDD;
	margin:10px;
	width:580px;
	background:#FFF;
	padding-top:5px;
}
.lateralSupCampoFecha{
	float:left;
	border-right:1px solid #DDD;
	margin:10px;
	width:580px;
	height:auto;
	background:#FFF;
	padding-top:5px;
}
.lateralSupCampoHora{
	float:left;
	border-right:1px solid #DDD;
	margin:10px;
	width:580px;
	height:auto;
	background:#FFF;
	padding-top:5px;
}
.lateralSupCampoTitulo{
	float:left;
	border-right:1px solid #DDD;
	margin:10px;
	width:580px;
	height:auto;
	background:#FFF;
	padding-top:5px;
}
.tit-lateralSup{
	width:500px;
	float:left;
	margin-top: 8px;
	margin-left: 8px;
}
.tit-lateralSupNuevoCampo{
	width:165px;
	float:left;
	margin-top: 8px;
	margin-left: 8px;
}
.cont-tituloCampos{
	float: left;
	width: 550px;
	height:auto;
	margin-top:10px; 
	font-weight: bold;
}
.tituloCampos{
	margin-top:10px; 
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size:15px;
	width: 500px !important;
	color:#000;
}
.tituloCamposEditar{
	margin-top:10px; 
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size:15px;
	width: 500px !important;
	color:#000;
}
.cont-campoObligatorio{
	float:right;
	width:170px;
	height:auto;
	margin-top:10px;
	margin-left: 20px;
}
.textoObligatorio{
	width: 127px;
	float: left;
	font-size:13px;
        font-weight: bold;
}
.cont-campoObligatorioTitulo{
	float:left;
	width:170px;
	height:auto;
	margin-top:10px;
	margin-left: 20px;
}
#tipoDeCampoTexto{
	float: left;
	width: 550px;
	height: auto;
	margin: 10px 10px 20px 10px;
	border:1px solid #DDD;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#tipoDeCampoFecha{
	float: left;
	width: 550px;
	height: auto;
	margin: 10px 10px 20px 10px;
	border:1px solid #DDD;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#tipoDeCampoHora{
	float: left;
	width: 550px;
	height: auto;
	margin: 10px 10px 20px 10px;
	border:1px solid #DDD;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#tipoDeCampoTitulo{
	float: left;
	width: 550px;
	height: auto;
	margin: 10px 10px 20px 10px;
	border:1px solid #DDD;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
.cont-vistaPreviaTexto{
	float:left;
	width: 100%;
	height: auto;
}
.subtituloVistaPrevia{
	float:left;
	width:95%;
	height:auto;
	margin-left:15px;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size:13px;
	color:rgb(150, 150, 150);
	text-align:justify;
}
.vistaPreviaInput{
	margin:10px 25px !important;
}
.cont-vistaPreviaFecha{
	float:left;
	width: 500px;
	height: auto;
	margin:0px 10px;
}
.cont-vistaPreviaHora{
	float:left;
	width: 500px;
	height: auto;
	margin:0px 10px;
}
.cont-vistaPreviaTitulo{
	float:left;
	width: 100%px;
	height: auto;
	margin:0px 10px;
	border-bottom: 1px solid #DDD;
}
.tituloVistaPrevia{
	margin-top: 10px;
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	font-size: 15px;
	width: 500px !important;
	color: #000;
	padding-left: 10px;
}
.tituloVistaPreviaTitulo{
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	width: 500px !important;
	padding-left: 10px;
        line-height: 1.25em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
}
.textoVistaPreviaTitulo{
	float: left;
	width:100%;
	height:auto;
	margin: 15px 20px;
}
.cont-vistaPreviaParrafo{
	float:left;
	width: 550px;
	height: auto;
}
.cont-opcionesSelect{
	float:left;
	width: 260px;
	height: auto;
	margin-bottom:10px;
	border-right: 1px solid #DDD;
	padding-right:5px;
}
.cont-opcionesEditarSelect{
	float:left;
	width: 260px;
	height: auto;
	margin-bottom:10px;
	border-right: 1px solid #DDD;
	padding-right:5px;
}
.cont-inputSelect{
	float:left;
	width: 260px;
	height:auto;
	margin-top:8px;
}
.cont-opcionesCheckbox{
	float:left;
	width: 260px;
	height: auto;
	margin-bottom:10px;
	border-right: 1px solid #DDD;
	padding-right:5px;
}
.cont-opcionesEditarCheckbox{
	float:left;
	width: 260px;
	height: auto;
	margin-bottom:10px;
	border-right: 1px solid #DDD;
	padding-right:5px;
}
.cont-inputCheckbox{
	float:left;
	width: 260px;
	height:auto;
	margin-top:8px;
}
#tipoDeCampoParrafo{
	float: left;
	width: 550px;
	height: auto;
	margin: 10px 10px 20px 10px;
	padding:0px 5px;
	border:1px solid #DDD;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#tipoDeCampoSelect{
	float: left;
	width: 550px;
	height:auto;
	margin: 10px 10px 20px 10px;
	padding:0px 5px;
	border:1px solid #DDD;
	
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#tipoDeCampoCheckbox{
	float: left;
	width: 550px;
	height:auto;
	margin: 10px 10px 20px 10px;
	padding:0px 5px;
	border:1px solid #DDD;	
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
.lat-izq-opcion{
	width:260px;
	height:inherit;
	float:right;
	margin-bottom:5px;
}
.cont-vistaPreviaSelect{
	float:left;
	width: 550px;
	height: auto;
	border-top: 1px solid #DDD;
}
.cont-vistaPreviaCheckbox{
	float:left;
	width: 550px;
	height: auto;
	border-top: 1px solid #DDD;
}
.cont-inputVistaPrevia{
	width: 550px;
	float: left;
	height: auto;
	margin-bottom: 10px;
}
.cont-inputVistaPreviaCheckbox{
	width: 550px;
	float: left;
	height: auto;
	margin-bottom: 10px;
}
.cont-btnAgregarOpcion{
	width:260px;
	float:right;
	height:auto;
	margin-top:30px;
}
.cont-btnAgregarOpcionCheckbox{
	width:260px;
	float:right;
	height:auto;
	margin-top:30px;
}
.cont-btnAgregarOpcionEditar{
	width:260px;
	float:right;
	height:auto;
	margin-top:30px;
}
.cont-btnEliminarOpcion{
	width:260px;
	float:right;
	height:auto;
	margin-bottom:10px;
}
.btnEditarEditarCampo{
	width: 70px;
	float: left;
	margin-bottom:5px;
}
.btnAgregarNuevoCampo{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnAgregarNuevoCampoFecha{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnAgregarNuevoCampoHora{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnAgregarNuevoCampoTitulo{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnCancelarEditarCampo{
	width: 90px;
	float: left;
	margin-bottom:5px;
}
.btnCancelarNuevoCampo{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnCancelarNuevoCampoFecha{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnCancelarNuevoCampoHora{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.btnCancelarNuevoCampoTitulo{
	width: 100px;
	float: right;
	margin-bottom:5px;
}
.close{
	float: left !important;
	margin: 8px 0px 0px 8px !important;
}
textarea {
	 -webkit-transition: height 0.2s;
	 -moz-transition: height 0.2s;
	 -ms-transition: height 0.2s;
	 -o-transition: height 0.2s;
	 transition: height 0.2s;
         font-size: 15px !important;
}
.cont-btnCrearInscrip{
	float: right;
	width: 165px;
	height: auto;
	margin-top:10px;
	margin-right: 40px;
}
.cont-btnCancelarInscrip{
	float: right;
	width: 100px;
	height: auto;
	margin-top:10px;
}
.span3{
	width: 180px !important;
}
.span12{
	width: 580px !important;
}
.cont-otrosDatos{
	float:left;
	width:100%;
	height:auto;
}
.btnActualizarEstadoPersona{
        float: left;
        width: 100%;
        height: auto;
        margin: 0px 0px 30px 0px;
        text-align: center;
}
/*:::::::::::::::::::::::::::::::::::::::: VER INCRIPCION INTERESADO ::::::::::::::::::::::::::::::::::::::::::::::*/
h3{
	color:#FFF !important;
	text-align:center;
	line-height:20px !important;
	font-weight:normal;
	font-size:20px !important;
/*	text-shadow: 0px 1px 1px #000; */ 
}
h4{
	width:860px;
	line-height:20px !important;
	font-weight:normal;
	text-align:center;
}
.cont-total{
        width: 900px;
        margin: 0 auto;
        height: auto;
}
.cont-datosGenerales{
	width: 900px;
	height:auto;
	float:left;
}
.contenedorPrincipal{
	float:left;
	width: 900px;
	height:auto;
	margin:20px 0px;
	background-color:#FAFAFA;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
}
.tituloPrincipal{
	float:left;
	width: 900px;
	height:auto;
	/*background-image:url(fondoTitCiclo1.png);*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
        background-color: #0404B4;
}
.cajaTituloPrincipal{
	float:left;
	width:550px;
	/*background: rgba( 0, 0, 0, 0.2);*/
	margin:15px 0 15px 40px;
}
.cont-datosPersonales{
	width: 900px;
	float:left;
	height:auto;
	margin-top: 20px;
}
.titDatosPers{
	float:left;
	width: 860px;
	background-image:url(fondoTitCiclo.png);
	color:#FFF;
	margin-top:10px;
	margin-left: 20px;
	margin-right: 20px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.contenido-datosPersonales{
	float:left;
	width:790px;
	height:inherit;
	margin-left:20px;
}
.datosPersonales{
	width: 810px;
	height: auto;
	padding:10px;
	float: left;
	margin-left: 35px;
	margin-top:15px;
	margin-bottom:15px;
	background-color: white;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 2px rgba(192, 192, 192, 0.52);
	box-shadow: 0px 0px 2px #B9B9B9;
}
.datoInteresado{
	float:left;
	width: 610px;
	height:auto;
	margin-top: 5px !important;
	margin-left:20px !important;
	margin-bottom:0px !important;
}
.cont-botonesEditarSelect{
	float:left;
	width: 610px;
	height:auto;	
	margin-bottom:0px !important;
}
.cont-botonesEditarCheckbox{
	float:left;
	width: 610px;
	height:auto;	
	margin-bottom:0px !important;
}
.editarCampo{
        display: none;
        border-top: 1px solid #DDD;
	float:left;
	width: 610px;
	height:auto;
	margin-top: 20px !important;
	margin-left:20px !important;
	margin-bottom:0px !important;
}
.Parrafo{
	width: 785px !important;
}
.datosGenerales{
	width: 810px;
	min-height: 300px;;
	padding:10px;
	float: left;
	margin-left: 35px;
	margin-top:15px;
	margin-bottom:15px;
	background-color: white;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 2px rgba(192, 192, 192, 0.52);
	box-shadow: 0px 0px 2px #B9B9B9;
}
.btnActualizarDatosPersonales{
        width: 770px;
        height: auto;
        float: left;
        margin: 20px 0px 10px 0px;
        text-align: center;
}
.btnActualizarDatosGenerales{
        width: 100%;
        height: auto;
        float: left;
        margin: 10px 0px 10px 0px;
        text-align: center;
        display: none;
}
.btnInscribirPersona{
        width: 138px;
        height: auto;
        float: right;
        margin: 5px 30px 10px 5px;
        text-align: center;
}
.btnCancelarVistaIncripInteresado{
        width: 138px;
        height: auto;
        float: right;
        margin: 5px 5px 10px 30px;
        text-align: center;
}
/*:::::::::::::::::::::::::::::::::::::::::: FORMULARIO DE INSCRIPCION ::::::::::::::::::::::::::::::::::::::::::::::*/

.main{
        margin: 0 auto;
        height: auto;
        width: 880px;
}
.contenedorPrincipalFormulario{
	float:left;
	width:100%;
	height:auto;
	margin:10px 0px;
        background-color:#FFF;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
}
.cajaTituloPrincipalFormulario{
	width:550px;
	/*background: rgba( 0, 0, 0, 0.2);*/
	margin: 0 auto;
	padding: 8px 0px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 3px; 
}
.colorTituloPrincipalFormolario{
    color: #000 !important;
    text-shadow:none;
}
.tituloPrincipalFormulario{
	float:left;
	width:100%;
	height:auto;
        margin-bottom: 10px;
        /*background-image:url(fondoTitCiclo1.png);*/
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	padding: 15px 0px;
        background-color: #fff;
}
/* codigo agregado por Angie V.*/
.TituloPrincipalInscripcion{
    
        width:550px;
	background: rgba( 0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 8px 0px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 3px;
        color: black;
    
}
.cont-datosFormInscripcion{
	width:850px;
	height:auto;
	float:left;
        padding: 0px 15px;
}
.titPrincipal-formInscripcion{
	margin: 30px 20px 15px 20px;
	border-bottom:1px solid #DDD;
}
.pieFormulario{
	float:left;
	width:100%;
        margin-top: 10px;
	height:auto;
	/*background-image:url(fondoTitCiclo1.png);*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
        background-color: #33405C;
}
.cajaPieFormulario{
	float:left;
	width:550px;
	/*background: rgba( 0, 0, 0, 0.2);*/
	margin:15px 0 15px 165px;
        border-radius: 3px;
}
.tituloPieFormulario{
        width: 100%;
        height: auto;
        font-size: 14px;
        text-align: center;
        color: #FFF;
        line-height: 25px;
        text-shadow: 0px 1px 1px #000;      
}
.paginacionForm{
        width: 100%;
        height: auto;
        float: left;
}
.camposIncluidosForm{
        width: 850px;
        height: auto;
        float: left;
        padding: 15px;
}
.obligatorioForm{
        width: 10px;
        height: auto;
        color: #ff3333;
        padding: 5px;
        font-weight: bolder;
        margin-top: 5px;
        font-size: 20px;
}
.descInscripcion{
        float: left;
        width: 810px;
        height: auto;
        margin: 34px 35px 10px 35px;
        text-align: justify;
        font-family: 'Trebuchet MS', Arial, Sans-serif;
        font-size: 15px;
        color: rgb(109, 109, 109);
}
.txtObligatorio{
        float: left;
        width: 810px;
        height: auto;
        margin: 10px 35px 0px 35px;
        text-align: justify;
        font-family: 'Trebuchet MS', Arial, Sans-serif;
        font-size: 15px;
        color: rgb(255, 21, 21);
}
.cont-btnFormulario{
        float: left;
        width: 100%;
        height: auto;
        display: none;
}
.btnEnviarFormulario{
        margin: 0 auto;
        width: 200px;
}

/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/

.pagination-inscripcion {
        margin: 20px 0;
}

.pagination-inscripcion ul {
        display: inline-block;
        *display: inline;
        margin-bottom: 0;
        margin-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        *zoom: 1;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination-inscripcion ul > li {
        display: inline;
}

.pagination-inscripcion ul > li > a,
.pagination-inscripcion ul > li > span {
        float: left;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-left-width: 0;
        cursor: default;
}

.pagination-inscripcion ul > .disabled > span,
.pagination-inscripcion ul > .disabled > a,
.pagination-inscripcion ul > .disabled > a:hover {
        color: #999999;
        cursor: default;
        background-color: transparent !important;
}

.pagination-inscripcion ul > li:last-child > a:hover,
.pagination-inscripcion ul > li:first-child > a:hover{
        background-color: #f5f5f5;
        cursor: pointer;
}

.pagination-inscripcion ul > .active > a,
.pagination-inscripcion ul > .active > span {
        background-color: #f5f5f5;
}

.pagination-inscripcion ul > .active > a,
.pagination-inscripcion ul > .active > span {
        color: #999999;
        cursor: default;
}

.pagination-inscripcion ul > li:first-child > a,
.pagination-inscripcion ul > li:first-child > span {
        border-left-width: 1px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-topleft: 4px;
}

.pagination-inscripcion ul > li:last-child > a,
.pagination-inscripcion ul > li:last-child > span {
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
}

.pagination-inscripcion-centered {
        text-align: center;
}

.pagination-inscripcion-right {
        text-align: right;
}
/*TO TOP*/
#back-top {
	position: fixed;
	bottom: 30px;
        right: -46px;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {	
	display: block;	

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::: VER INSCRIPCIONES :::::::::::::::::::::::::::::::::::::::::::::::::::: */

.contCentralVerInscripciones{
        width: 800px;
        margin: 0 auto;
}
.contInscripciones{
        float:left;
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
}
.tituloInscripciones{
        float:left;
        width: 100%;
        height: auto;
        font-family: 'Trebuchet MS', Arial, Sans-serif;
	color:#3a87ad;
	font-size:15px;
	text-align:center;
}
.descripcionEncabezado{
        float:left;
        width: 100%;
        height: auto;
        font-size: 15px;
        margin: 20px 0px 10px 0px;
}
.separadorInscripciones{
        float:left;
        width: 100%;
        height:40px;
}
