/* tabla de Tiempo*/
textarea{
    background-color: transparent;
    border: 0;
    -webkit-box-sizing: border-box;
    outline: 0;
}
.celda
{
    width:17px;
    height: auto;

}

table tr td{
    border: 1px solid #DDD;
    font-family: UniversCondensedMedium, sans-serif;
    margin: 0 0 8px;
    font-weight: normal;

}
.superior{
    text-align: center;
    width:17px;
    padding: 3px;
    height: auto;

}
.supeact{

    text-align: center;
    width:17px;
    padding: 3px;
    height: auto;
    background:url(/eisi/images/ProyectosDeExtension/red_bot.png) no-repeat top center;

}
.Actividad{   
    padding: 2px 2px 2px 5px;
    width: 70px;
    height: 20px;
}


/* Inicio Toltips tabla de Tiempo*/
#conte2{position: relative;}
#conte2 .tooltips{position: absolute;



}
.tooltips2 {
    position: absolute;
    display:none;
    border: 1px solid #999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    -webkit-transition: 0.1s linear all;


}
.tooltips2:after, .tooltips2:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 4;
    position: absolute;
    pointer-events: none;
}
.tooltips2:after {

    border-color: rgba(136, 183, 213, 0);
    border-right-color:white;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}
.tooltips2:before {

    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 9px;
    top: 50%;
    margin-top: -9px;
}

#conte2:hover .tooltips2{
    z-index:99;
    display: block;
    position: absolute;
    padding: 5px; width: 310px; height: 105px;
    background-color: white;
    top:-50px;

    color:black;
    left:90px;
}

#supeact{position: relative;}
#supeact .tooltipsemana{position: absolute;}
.tooltipsemana {
    position: absolute;
    display:none;
    border: 1px solid #999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    -webkit-transition: 0.1s linear all;


}
.tooltipsemana:after, .tooltipsemana:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tooltipsemana:after {

    border-color: rgba(136, 183, 213, 0);
    border-top-color:white;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.tooltipsemana:before {

    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

#supeact:hover .tooltipsemana{
    font-size: 9px;
    z-index:99;
    display: block;
    position: absolute;
    padding: 2px; width:85px; height: auto;
    background-color: white;
    top:-38px;
    border-radius: 4px;
    color:black;
    left:-33px;
}
#superior{position: relative;}
#superior .tooltipsemana2{position: absolute;}
.tooltipsemana2 {
    position: absolute;
    display:none;
    border: 1px solid #999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    -webkit-transition: 0.1s linear all;


}
.tooltipsemana2:after, .tooltipsemana2:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tooltipsemana2:after {

    border-color: rgba(136, 183, 213, 0);
    border-top-color:white;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.tooltipsemana2:before {

    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
}

#superior:hover .tooltipsemana2{
    font-size: 9px;
    z-index:99;
    display: block;
    position: absolute;
    padding: 2px; width:85px; height: auto;
    background-color: white;
    top:-38px;
    border-radius: 4px;
    color:black;
    left:-33px;
}

/* Fin Toltips tabla de Tiempo*/

.boton_Finalizar{   
}
.boton_Finalizar:active {   
}
.boton_Finalizar:hover { 
}

.boton_Finalizar:disabled {
}


.boton_act{

}
.boton_act:active {

}
.boton_act:hover {

}
.boton_acceder{

}
.boton_acceder:active {

}
.boton_acceder:hover {

}
label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #444;
    font-weight: bold;
    line-height: normal;
    float: left;
    width: auto;
    margin-top: 1px;
    padding: 5px;
}
.estado{
    border: 1px solid #CCC;
    width: 15px;
    height: 15px;
}
.semana{
    font-family: UniversCondensedMedium, sans-serif;
    width: 40px;
    height: 35px;
    font-size: 28px;
    margin-left: 35%;
    margin-top:8%;

}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.foto{
    cursor: pointer;
    color: #3B5998;
    text-decoration: none;
    height: auto;
    width: 25%;
}
.contenefoto{
    border: 1px solid #DCDADA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #E1E1E1;

    width:700px;
    padding:16px 16px 30px 16px;
    margin: 1%;
    height: auto;
}
.contfoto{
    float:left;
    width:700px;
    padding:16px 16px 30px 16px;
    margin: 1%;
    margin-top: 5px;
    height: auto;
}
.foto{

    width: 23%;
    height: 130px;
    text-align: center;
    float: left;
}
.comentarios{
    min-height: 120px;
    float: left;
    width: 75%;
    height: auto;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .16);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .16);
    position: relative;
}
.says{
    background:transparent url(/eisi/images/ProyectosDeExtension/say.png) no-repeat scroll 0 0;
    margin-left: -12px;
    margin-top: 30px;
    position:absolute;
    display: block;
    height:24px;
    width:13px;
    text-indent: -9999px;
}
.text{
    text-align: justify;
    min-height: 100px;
    padding: 17px;
    height:auto;
    color: #333;
    font-size: 13px;
    line-height: 1.38;
    white-space: pre-wrap;
}
.textos{
    float:left;
    text-align: justify;
    min-height: 60px;
    padding: 8px 17px 8px 17px;
    height:auto;
    color: #333;
    font-size: 13px;
    line-height: 1.38;
    white-space: pre-wrap;
}
textarea {
    min-height: 100px;
    margin: 3%;
    width:93%;
    height: 100px;
    color: #333;
    font-size: 13px;
    line-height: 1.38;
    white-space: pre-wrap;
    border:none;
    outline: none;
}
.guardarcom{
    background: #2871CF;
    float: left;
    color: white;
    height: 22px;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    padding-right: 20px; 
    width: 120px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
.cliccometario{
    float: left;
    color: #666;
    height: 22px;
    font-size: 13px;
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
    color:gray;
    width: 120px;
}
.guardarcom:hover{
    cursor: pointer;
}
textarea:focus,input:focus {outline: none;}
.fecha{
    float: left;
    color: #666;
    height: 22px;
    font-size: 13px;
    text-align: right;
    padding-top: 5px;
    padding-right: 20px;
    width: 100%;
}
.nombreR{
    float:left;
    height:auto;
    padding: 17px 17px 5px 17px;

    font-weight: bold;
    width: 100%;

}
