/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009 
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
*/

/* menu::base */
div#menu {
    width: 1200px;
    height: 40px;
    text-align: left;
    padding-left: 0px;
    background-color: #F6F6F6;
}
*{
                font-family: sans-serif;
                list-style: none;
                text-decoration: none;
                margin:0;
                padding:0;
            }
.menu > li{
                float:left;
                margin-top:1px;
            }
            .menu li a{
                background: #F6F6F6;
                color: #666;
                display: block;
                padding: 10px 12px;
                text-decoration: none;
                font-weight: bold;
                min-width: 50px; 
                text-align: center;
            }
            .menu li a:hover{
                color: #FFF;
                background: #666;
                border-radius: 20px;
               
            }
            .menu li ul{
                display: none;
                position: absolute;
                min-width: 140px;
            }
            .menu li ul li a{
                text-align: left !important;
                
            }
            .menu li ul li a:hover{
                background: #F6F6F6;
                color:#000;
                border-radius: 0 !important;
                padding-left: 10px;
                
            }
            .menu li:hover > ul{
                display: block;
            }
            .menu li ul li {
                position: relative;
            }
            .menu ul{
                padding-top: 12px;
            }


