/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2018, 12:38:52 AM
    Author     : alexy
*/


/*------------------------------------*\
    $Enlaces
\*------------------------------------*/
.enlace{
    margin: 0;
}
.iconos{
    position: relative;
    left: 20%;
    top: 16%;
}
.etiqueta4{
    padding-top: 20px;
    margin: 0;
}

.enlacesRel{
    float: left;
    margin: 0 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}