#contenedor{/*********/
            background-color: #DBDBDB;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 0px;
            font-family:"Helvetica",Arial;
            overflow-x:hidden;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 8px;
}
#DEncabezado {
    width: 120px;
    font-size: 12px;
    font-weight: bold;  
    float: left;
}
#encabezado {
    margin-bottom: 5px;
}
#DTituloDeLaSala {
    font-family: 'Comic Sans-serif, cursive';
    font-size: 14px;
}
header p{
    font-size:14px;
    margin-left: 45px;
}
#users{
    margin-left: 10px;
    font-size: 15px;
    padding-bottom: 10px;
}
#principal{
    padding-top:100px;
    width:500px;
    margin:0 auto;
    text-align:center;
}
#principal img{
    margin:0 auto;
    display:block;
}
#principal #conLogo, #form{
    display:inline-block;
    margin-right:20px;
}
.btnLogIn{
    padding:5px 15px 5px 15px;
    border:none;
    outline:none;
    margin:5px;
    background-color:#375D3B;
    color:#ABC8A4;
    border-radius:5px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
#form{
    text-align:left;
}
#form .btnLogIn:hover{
    cursor:pointer;
    background-color:#183128;
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
}
#form label{
    display:block;
}
#form input[type="text"], #form input[type="password"]{
    font-size:18px;
    padding-left:30px;
}
#form a{
    color:#375D3B;
    font-weight:bold;
}
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: #375D3B;
    position: relative;
    left: -80px;
    top: 25px;
    width: 30px;
}
#footer{
    position: absolute;
    bottom:0px;
    background-color:#000;
    font-size:10px;
    width:100%;
    color:#ABC8A4;
    text-align:center;
}
#footer p{
    display:inline-block;
    margin-right:100px;
}
.pantalla{
    background-color: white;
    width: 310px;
    height: 50px;
    padding: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    position: absolute;
    top: 25%;
    left: 35%;
}
#usuariosCon{
    float: right;
    width:220px;
    background-color:#FFF;
    color:#000;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ACACAC
}
#contChat{
    width:70%;    
    float:left;
    background-color:#FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ACACAC
}
#chat{
    height:360px;
    overflow: scroll;
}
#chat p{
    border-bottom:solid;
    border-width:1px;
    border-color: #DBDBDB;
}
#chatInsite{ /*lista de mensajes */
             font-size: 13px;
             padding: 10px 10px 10px 10px;
}
#msg{
    margin: 5px 0px 5px 10px;
    width: 350px;
}
#contenedor {
    /***********************  DEGRADADO*******************************/
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdbdb 1%, #f4f4f4 52%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dbdbdb), color-stop(52%,#f4f4f4), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb 1%,#f4f4f4 52%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb 1%,#f4f4f4 52%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb 1%,#f4f4f4 52%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbdbdb 1%,#f4f4f4 52%,#dbdbdb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */

    /************ FIN DE DEGRADADO **********************************/
}
#DSombra {
    -moz-box-shadow: 0px -10px 0px #DBDBDB;
    -webkit-box-shadow: 0px -10px 0px #DBDBDB;
    box-shadow: 0px -10px 0px #DBDBDB;
    height: 10px;
    width: 245px;  
}
#DMenu {
    /***********************  DEGRADADO*******************************/
    background: #dbdbdb; /* Old browsers */
    background: -moz-linear-gradient(top,  #dbdbdb 1%, #dbdbdb 52%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dbdbdb), color-stop(52%,#dbdbdb), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb 1%,#dbdbdb 52%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb 1%,#dbdbdb 52%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb 1%,#dbdbdb 52%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dbdbdb 1%,#dbdbdb 52%,#dbdbdb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
    /************ FIN DE DEGRADADO **********************************/
    width: 160px;
    height: 165px;
    margin-right: 20px;
}
#DCerrarCanal {
    margin-top: 40px;
}
#DTMenu {
    margin-top: 12px;
    text-align: center;
    font-weight: bolder;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    font-weight:bold;
    text-align:center;
    font-size:18px;
    color:#646464;
    text-shadow: 0px 0px 10px #8F8F8F;
}
#DTAdministrar {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
#BDesconectarUsuario {
    width: 180px;
}
#usuariosConectados {
    width: 210px; 
    font-size: 15px; 
    padding: 5px;
    height: 290px;
}
#DSombraYMenu {
    margin-left: 770px;
}
#DTituloSala{
    width: 90px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100px;
    font-size: 27;
}
.gradienteYBorde {
    background-color: #ffffff;
    border: 2px solid transparent;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#EAF0F8', endColorstr = '#EAF0F8')";
    background-image: -moz-linear-gradient(top, #EAF0F8, #EAF0F8);
    background-image: -ms-linear-gradient(top, #EAF0F8, #EAF0F8);
    background-image: -o-linear-gradient(top, #EAF0F8, #EAF0F8);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#EAF0F8), to(#EAF0F8));
    background-image: -webkit-linear-gradient(top, #EAF0F8, #EAF0F8);
    background-image: linear-gradient(top, #EAF0F8, #EAF0F8);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.BS {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #b0b0b0) );
    background:-moz-linear-gradient( center top, #ededed 5%, #b0b0b0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#b0b0b0');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:1px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.BS:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b0b0b0), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #b0b0b0 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#ededed');
    background-color:#b0b0b0;
}
.BS:active {
    position:relative;
    top:1px;
}
#SSalasABorrar {
    padding: 10px;
    width: 100%;
}
#SInvitarADebate {
    padding: 10px;
    width: 100%;
}
#DBInvitarADebate {
    margin-top: 10px;
    width: 190;
    margin-left: auto;
    margin-right: auto;
}
#DBBorrarSala {
    width: 34%;
    margin-left: 33%;
    margin-top: 5px;
}
#TFTituloNuevaSala{
    width: 90%;
    margin-left: 5%;
}
#DBCrearSala {
    width: 48%;
    margin-left: 26%;
    margin-top: 5px;
}
#DInvitarADebateExistente {
    width: 156px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
#DContenedor {
    background: #e1e1e1;
    background: -moz-linear-gradient(-45deg,  #e1e1e1 0%, #ffffff 50%, #f6f6f6 66%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e1e1e1), color-stop(50%,#ffffff), 	color-stop(66%,#f6f6f6), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #e1e1e1 0%,#ffffff 50%,#f6f6f6 66%,#e1e1e1 100%);
    background: -o-linear-gradient(-45deg,  #e1e1e1 0%,#ffffff 50%,#f6f6f6 66%,#e1e1e1 100%);
    background: -ms-linear-gradient(-45deg,  #e1e1e1 0%,#ffffff 50%,#f6f6f6 66%,#e1e1e1 100%);
    background: linear-gradient(135deg,  #e1e1e1 0%,#ffffff 50%,#f6f6f6 66%,#e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=1 );
    background-color: #ffffff;
    border: 2px solid transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#EAF0F8', endColorstr = '#EAF0F8')";
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 15px 0px 15px;
}
fieldset {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
legend {
    font-weight:bold;
    text-align:center;
    font-weight:bold;
    font-size:17px;
    color:#646464;
    text-shadow: 0px 0px 10px #8F8F8F;
}
#LSalaDeDebate {
    font-size:18px;
}
#FDebates {
    background-color: #DADEE6;
}
#LUsuariosConectados {
    font-size:18px;
}
#FUsuariosConectados {
    background-color: #DADEE6;
}
table {
    font-size:12.5px;
}