.bClose {
    cursor:pointer;
    font-weight:bold;
    position:absolute;
    text-decoration:none;
    font:bold 131% sans-serif;
    border-radius:7px 7px 7px 7px;
    box-shadow: 0 0 5px 5px #999;
    padding:0 6px 2px;
    right:-7px;
    top:-7px;
    background-color:white;
}
.bClose:hover {
    background-color: #333;/*#8F8F8F;*/
    color: white;
}
#popup {
    display:none;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    font-family: sans-serif;
    color: #111;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    text-align: left;
}