.BotonAzul
{
	BACKGROUND: #AAAAAA;
	BORDER: 1px solid #000000;
	COLOR: #999999;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
		
	FONT-WEIGHT: bold
}

.BotonAmarillo
{
	BACKGROUND: #FFFF1C;
	BORDER: 1px solid #FFDDAA;
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
		
	FONT-WEIGHT: bold
}

.BotonRojo
{
	BACKGROUND: #932440;
	BORDER: 1px solid #932440;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
		
	FONT-WEIGHT: bold
}

.BotonBlanco
{
	BACKGROUND: #F8F8F8;
	BORDER: 1px solid #999999;
	COLOR: #999999;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 11px;
		
	FONT-WEIGHT: bold;
}

.TextoHorario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8E5A08;
}