body {
	background-color: #edf1f4;
	background-image: url('../images/index/fondito.jpg');
	background-repeat: repeat-x;
}

.fondoencabezado {
	background-image: url('../images/index/encabezado%20index2007_r1_c2.jpg');
	background-repeat:  repeat-x;
}

.fondoeventos {
	background-image: url('../images/index/fondo_eventos.jpg');
	background-repeat:  repeat-x;
	
}
.fondocentral {
	background-image: url('../images/index/fondito.jpg');
	background-repeat: no-repeat;
	background-color: #E8EBF0;
}
.bordeazul {
	border: 1px solid #2B3D83;
}

.titulosazules {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000066;
	background-image: url('../images/index/titulo%20fondo%20azul_r1_c2.png');
	background-repeat:  repeat-x;

}
.subtitulosazules {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2B3D83;
	font-weight: bold;
}
.subsubtitulosazules {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-style: normal;
	font-weight: normal;
	color: #2B3D83;
}
.titulosverdes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #478927;
	background-image: url('../images/index/titulo%20fondo%20verde_r1_c2.jpg');
	background-repeat:   repeat-x;
}

.subtitulosverdes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 478927;

}
.subsubtitulosverdes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #478927;
}



.textocomunicados{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #478927;
	text-decoration:none;	
}


.registroverde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #478927;
}

.subtituloseventos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0F144B;
	font-weight: bold;
	text-transform: uppercase;
}

.textoeventos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000066; 
	text-decoration:none;	
}

.vinculoverde{
	color: #478927;
	text-decoration:none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;	
}

.vinculoazul {
	color:#7F88A9; 
	text-decoration:none; 
	font-weight:normal; 
	font-family:Arial,Helvetica,sans-serif; 	
}

.fondoswf {
	background-image: url(../images/index/Fondo_swf_index_eisi_2007.jpg);
	background-repeat:  repeat-x;
	background-color: #FFFFFF;

}