body {
	background-repeat:  repeat-x;
}
.encabezado_servicio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0F144B;
	font-weight: bolder;
	text-transform: uppercase;	
	vertical-align: middle;
	font-style: oblique;
	text-decoration: none; 
	margin-top: 1; 
	margin-bottom: 1; 
}
.fecha{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	color: #4B8A2F;
}
.fondobanner {
	background-image: url('../images/banner/banner_segundo_nivel_r1_c12.jpg');
	background-repeat:  repeat-x;
}
.fondoplantilla{
	background-color: #FFFFFF; background:#FFFFFF;	
}
.fondotablasecciones {
	background: #DEE2FE url('../images/banner/fondo_tabla_secciones.jpg') repeat-x;
}
.fondo {
	background-image: url('../images/banner/main_banner_r1_c4.jpg');
	background-repeat:  repeat-x;
}
.fondocolumna {
	background-color: #EAEAF4;
}
.fondocolumna2 {
	background: #dff2f4;
        font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #69759b;
	font-weight: bold;
        text-transform: capitalize;
}
.fondomenu {    
	background-image: url('../images/banner/fondomenu.gif');
	background-repeat:repeat-x; 
	background-color:#DEDBDE;
	azimuth:behind;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #3F468B;	
	text-decoration: none;
}
.fondosesion{	
	background-image: url('../images/banner/banner_fondosesion.jpg');
	background-repeat:  repeat-x; 
	text-decoration: none;
}
.fondotablacreditos {
	background-image: url(/eisi/images/fondocreditos.jpg);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	background-position: center;
}
.inicioyfin{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align:center;
	vertical-align: middle;

}
.mapadelsitio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	color: #FFFFFF;	
	vertical-align: middle;	
	text-decoration: none;
}
.menuniveltres {
	background-image: url('../images/banner/nivel_tres.jpg');
	background-repeat: repeat-y;
	background-color: #ABB0C4;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}	
.menunivelcuatro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	color: #FF00AE; 
	text-align: left;
	text-decoration: none;
	background-color: #F4F5F9;
}
.navegacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #010E63;
}
.nombreusuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #001466;
}
.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.tituloseccion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #011263;
}
.titulo_eisi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
	color: #FFFFFF;
}
.titulo_servicio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.usuario{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	color: #FFFFFF;		
	font-weight: bold;
	vertical-align: middle;	
	text-decoration: none;
}
a:link {
	color: #2C3872; text-decoration: none;
} 
a:visited{
	color: #2C3872; text-decoration: none;
}
a:hover{
	color: #E67016;	text-decoration: none;
}
