/*Default setting,its value isn't changed.*/
.JWSSothinkBgC{background-color:transparent;}

/*Global setting.    It: item    G:global*/
.JWSItBS{border-style: none;}
.JWSItBW{border-width:1px;}
.JWSItBC{border-color:#006699;}
.JWSGBgC{background-color:transparent;}
.JWSGBgI{background-image:url("../images/background.JPG");}
.JWSGBgR{background-repeat:repeat-x;}


/*Title setting.    F: font*/
.JWSF{font:9pt Arial; line-height:9pt;}
.JWSFC{color:#000000;}
.JWSFD{text-decoration:none;}
.JWSBgC{background-color:transparent;}
.JWSBgI{background-image:none;}
.JWSBgR{background-repeat:repeat;}


/*Arrow setting.    Lt: left or top     Rb: right or bottom     E: enable    D:disable
  Ot: mouse out     Ov: mouse over     I: image */
.JWSLtEOt{background-image:none;}
.JWSLtEOv{background-image:none;}
.JWSLtD{background-image:none;}
.JWSLtIW{width:0px;}
.JWSLtIH{height:0px;}

.JWSRbEOt{background-image:none;}
.JWSRbEOv{background-image:none;}
.JWSRbD{background-image:none;}
.JWSRbIW{width:0px;}
.JWSRbIH{height:0px;}


/*Global border setting      G:Global border  Sz::size    Cn: corner    Lt: left top
  Rb: right bottom   Lb: left bottom  Rt: right top  T: top    Bt: bottom   L:left   Ri: right */
.JWSGBS{border-style:solid;}
.JWSGBW{border-width:0px;}
.JWSGBC{border-color:#0099CC;}


/*Tip  border  setting        Sz::size    Cn: corner      Lt: left top   Rb: right bottom
  Lb: left bottom  Rt: right top  T: top    Bt: bottom   L:left    Ri: right*/
.JWSBS{border-style:double;}
.JWSBW{border-width:2px;}
.JWSBC{border-color:#0099CC #FFFFFF;}

.JWSCnSz{width:5px;height:5px;}

.JWSLtCn{background-image:url("../images/round_tl.gif");}
.JWSRtCn{background-image:url("../images/round_tr.gif");}
.JWSRbCn{background-image:url("../images/round_br.gif");}
.JWSLbCn{background-image:url("../images/round_bl.gif");}

.JWSTBgC{background-color:transparent;}
.JWSTBgI{background-image:url("../images/round_t.gif");}
.JWSTBgR{background-repeat:repeat;}

.JWSRiBgC{background-color:transparent;}
.JWSRiBgI{background-image:url("../images/round_r.gif");}
.JWSRiBgR{background-repeat:repeat;}

.JWSBtBgC{background-color:transparent;}
.JWSBtBgI{background-image:url("../images/round_b.gif");}
.JWSBtBgR{background-repeat:repeat;}

.JWSLBgC{background-color:transparent;}
.JWSLBgI{background-image:url("../images/round_l.gif");}
.JWSLBgR{background-repeat:repeat;}


/*Item  or  item tip setting.   Ot: mouse out   Ov: mouse over    It:item     F: font    Tp: tip  i:item */

/*Item 0 */
.JWSItBgCi0{background-color:transparent;}
.JWSOtFi0{font:bold 8pt Arial;}
.JWSOtFCi0{color:#0f144b;}
.JWSOtFDi0{text-decoration:none;}
.JWSOvFi0{font:bold 8pt Arial;}
.JWSOvFCi0{color:#0f144b;}
.JWSOvFDi0{text-decoration:none;}
