
#ui-datepicker-div{
	font-size: 1.5em;
}
h1{
	margin: 0px !important;
}
.contenedorCronograma{
	margin:0 auto ;
	height:460px;
	width:800px;
	padding-bottom:10px;
	border: 1px solid #D3D3D3;
}
.contenedorInfoCrono{
	float:left;
	width:100%;
	height:auto;
}
.encabezado{
	background:url(/eisi/images/CronogramaAcademicoImages/fondoTitCiclo.png);
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	color:#FFF;
	width:100%;
        height: 50px;
        padding-top: 10px;
        text-shadow: 0px 1px 1px #000;
}
.contenedorDatos{
	height:50px;
	float:left;
    width: 100%;
}
.contenedorBotones{
	height: 50px;
	float: left;
	padding: 0px 125px;
	padding-top: 25px;
	border-top: 1px solid lightGrey;
	margin-top: 18px;
}
.cont-datosCronograma{
	float: left;
        height: auto;
        width: 100%;
}
.datosCronograma{
        position: relative;
        margin: 0 auto;
        width: 560px;
        height: auto;
        margin-top: 15px;
}
.tituloDatos{
	float:left;
	width:90px;
	height:30px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	padding:12px 0 0 40px;
}
.datos{
	float:left;
	display:table;
	width:100px;
}
.txtInput{
	float:left;
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	padding:5px 5px 5px 25px;
	font-family:normal arial,sans-serif;
	width:400px;
	height:30px;
	color:#666;
	border: 1px solid #D9D9D9;
}
.txtInputFecha{
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	font-family:normal arial,sans-serif;
	width:132px !important;
        background-color: white !important;
}
.txtInputDocente{
	float:left;
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	padding:5px 5px 5px 25px;
	font-family:normal arial,sans-serif;
	width:300px;
	height:30px;
	color:#666;
	border: 1px solid #D9D9D9;
}
.guion{
	float:left;
	width:10px;
	padding-top:10px;
	margin:0px 0px 10px 10px;
	height:30px;
}
.btnProgramar{
	margin:0 auto;
	width:230px;
	height:35px;
        margin-top: 20px;
}
.tituloseccion{
        color: rgb(47, 59, 116) !important;
}
.separador{
	height:30px;
	border-bottom: 1px #E7E7E7 solid;
}
.separadorMateria{
	width:660px;
	height:20px;
	margin-left:40px;
}
.separadorFechas{
	width:16px;
	height:30px;
	float:left;
}
.contenedorCiclo{
	width:700px;
	height:auto;
	display:none;
	margin:0 auto;
}
.contenedorCiclo .titulo{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	margin:15px;
	color:#555;
}
.contenedorMateria{
	width:600px;
	height:200px;
	padding:5px;
	margin-left:40px;
	border:2px #E5E5E5 solid;
	-moz-box-shadow: 0px 0px 6px #e3e3e3;
	-webkit-box-shadow: 0px 0px 6px #e3e3e3;
	box-shadow: 0px 0px 6px #e3e3e3;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
h3{
	margin:7px;
}
.contenedorMateria .materia{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	float:left;
	width:100%;
	background:rgba(0, 100, 205, 0.78);
	text-align:center;
	margin:2px 0 10px 0;
}
.contenedorMateria .datosMateria{
	float:left;
	display:table;
	width:90px;
	height:25px;
	padding-top:12px;
}

/*SEPARADOR TIPTIP*/
.sepTipTip{
        height: 8px;
        border-bottom: 1px black solid;
        margin-bottom: 7px;
}
.inputdisabled{
    background-color: #F0F0F0 !important;
}

.loader{
    background-image: url(/eisi/images/CronogramaAcademicoImages/loader.gif);
    background-size: 32px 32px;
    height: 32px;
    width: 300px;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: none;    
    padding-top: 40px;    
    background-position: 96px 4px;
}
.textInfoCrear{
	width:575px;
	float:left;
	height:70px;
        text-align: justify;
        font-size: 13px;
}