@charset "utf-8";
/* CSS Document */

.contenedorCiclo{
	width:870px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
.cajaCiclo{
	margin:8px;
	float:left;
	height:auto;
}
.tituloCiclo{
	width:inherit;
	height:auto;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	margin-top:10px;
	color:#FFF;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	/*background:rgba(7, 60, 116, 0.78);*/
	
	background:url(/eisi/images/CronogramaAcademicoImages/fondoTitCiclo.png);
	padding:5px 0px;
	
	-moz-box-shadow: 0px 0px 2px #7bb0d9;
	-webkit-box-shadow: 0px 0px 2px #7bb0d9;
	box-shadow: 0px 0px 2px #7bb0d9;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
.separador{
	float:left;
	width:850px;
	height:25px;
}
.contenidoMateria{
	width:auto;
	float:left;
	height:auto;
	border: 1px solid #DBDBDB;
}
.infoMateria-sup{
	float: left;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	border-bottom: 1px solid #DDD;
	width: 852px;
	margin: 0;
	padding: 0;
}
.infoMateria-sup .codMat{
	float: left;
	font-size: 0.8em;
	color: #333;
	width:99px;
	font-weight: bold;
	background-color:#F4FAFA;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;	
	position: relative;
	padding-left: 15px;
	text-align: center;
	padding: 3px 10px 3px 10px;
}
.infoMateria-sup .titDoc{
	float: left;
	font-size: 0.9em;
	color: #333;
	width: 95px;
	font-weight: bold;
	background-color: #EEE;
	text-align: center;
	padding: 3px 10px 3px 5px;
}
.infoMateria-sup .nomDoc{
	float: left;
	font-size: 0.9em;
	color: #333;
	background-color:#F4FAFA;
	width:619px;
	text-align:center;
	border-left: 1px solid #DDD;
	padding: 3px 10px 3px 10px;
	min-height: 20px;
}
.infoMateria-inf{
	float: left;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	border-top: 1px solid white;
	width: 852px;
	margin: 0;
	padding: 0;
}
.infoMateria-inf .titMat{
	float: left;
	font-size: 0.9em;
	color: #333;
	width: 90px;
	font-weight: bold;
	background-color: #EEE;
	text-align: center;
	padding:0px 10px;
	/*height:inherit;*/
}
.infoMateria-inf .nomMat{
	float: left;
	font-size: 0.9em;
	color: #333;
	width: 175px;
	background-color:#FFF;
	text-align:center;
	border-left:1px solid #DDD;
	padding:0px 10px;
	/*height:inherit;*/
}
.horario{
	float:left;
	width: 545px;
	height:auto;
	border-left: 1px solid #DDD;
}
.horario .titHorario{
	width: 525px;
	float:left;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom:1px solid #DDD;
	background-color: #EEE;
	text-align:center;
	padding: 3px 10px 3px 10px;
}
.titFechas{
	width:inherit;
	float:left;
	border-bottom:1px solid #DDD;
	background-color:#FCFCFC;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
}
.titFechas .nomFecha{
	float:left;
	font-size: 0.8em;
	text-align:center;
	width: 115px;
	padding: 3px 10px 3px 10px;
}
.titFechas .ini{
	float:left;
	font-size: 0.8em;
	text-align:center;
	border-left: 1px solid #DDD;
	width:70px;
	padding: 3px 10px 3px 10px;
}
.titFechas .fin{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:70px;
	padding: 3px 10px 3px 10px;
}
.titFechas .salon{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:155px;
	padding: 3px 10px 3px 10px;
}
.titFechas .alertaCruce{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:30px;
	padding: 3px 10px 3px 10px;
}
.fechas:nth-child(even){
	width:inherit;
	float:left;
	background-color:#FFF;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
}
.fechas:nth-child(odd){
	width:inherit;
	float:left;
	background-color:#F4FAFA;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
}
.fechas div{
	padding: 0px 10px 0px 10px;
}
.fechas .fecha{
	float:left;
	font-size: 0.8em;
	text-align:center;
	width: 115px;
}
.fechas .horaIni{
	float:left;
	font-size: 0.8em;
	text-align:center;
	border-left: 1px solid #DDD;
	width:70px;
}
.fechas .horaFin{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:70px;
}
.fechas .nomSalon{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:155px;
	padding: 3px 10px 3px 10px !important;	
}
.fechas .alertaCruce{
	float:left;
	border-left: 1px solid #DDD;
	width:30px;
	padding: 3px 10px 3px 10px !important;	
}
#icon{
	float: left;
	height: 30px;
	margin: 0;
	width: 100%;
	font-size: 2.6em;
	font-family: 'Icons-font';
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
#text{
	float: left;
	height: 20px;
	margin: 0;
	width: 100%;
	font-size: 0.8em;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.icono{
	margin-top:10px !important;
}

/*...:::::::::ESTILOS VER CRONOGRAMA:::::::::...*/

body{
	font-family: 'Trebuchet MS', Arial, Sans-serif;
} 
.contenedorVerCronograma{
	width: 1024px;
	margin: 0 auto;
}
.contenedorVerCronograma1{
	width: 1024px;
	margin: 0 auto;
	background-color:#FFF;
	margin-bottom:30px;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
.contenedorTitulos{
	width: 988px;
	padding: 18px;
	margin:0 auto;
	height:inherit;
	margin-top: 20px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	background-image:url(/eisi/images/CronogramaAcademicoImages/TituloMantenerCronograma.jpg);
}
.contenedorPieTitulos{
	width: 988px;
	padding: 18px;
	margin:0 auto;
	height:inherit;
	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	background-image:url(/eisi/images/CronogramaAcademicoImages/TituloMantenerCronograma.jpg);
}
.cajaTitulos{
	width: 70%;
	height:auto;
	background: rgba( 0, 0, 0, 0.2);
	margin: 0 auto;
}
.cajaPieTitulos{
	width: 60%;
	height:auto;
	background: rgba( 0, 0, 0, 0.2);
	margin: 0 auto;
}
.tituloEncabezado{
	width: 100%;
	height: auto;
	font-size: 19px;
	text-align: center;
	color:#FFF;
	line-height: 30px;
	text-shadow: 0px 1px 1px #000;
}
.tituloPieEncabezado{
	width: 100%;
	height: auto;
	font-size: 14px;
	text-align: center;
	color:#FFF;
	line-height:25px;
	text-shadow: 0px 1px 1px #000;
}
.tituloCronogramaAcademico{
	text-align:center;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
	font-family: 'ProximaNovaLight', sans-serif;
	color: #FFF;
	font-size: 30px;
	letter-spacing: -1px;
	padding-top:35px;
	margin-bottom:10px;
	width: 100%;
	font-weight:normal !important;
}
.tituloNomPrograma{
	font-family:Arial, Georgia, "Times New Roman", Times, serif !important;
    width: 100%;
}
.tituloNomCiudad{
	font-family:Arial, Georgia, "Times New Roman", Times, serif !important;
    width: 100%;
}
.tituloNomCohorte{
	font-family:Arial, Georgia, "Times New Roman", Times, serif !important;
    width: 100%;
	padding-bottom:10px;
}
.barraOpciones{
	margin:0 auto;
	padding: 30px 30px 10px 10px;
	height: 45px;
}
.barraOpciones div.Opcion{
	width: 30px;
	height: 30px;
	padding: 8px 4px 0px 4px;
	float:right;
	border: 1px solid #DDD;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 5px;
	background-color: #FAFAFA;
	cursor: pointer;   
}
.barraOpciones div.Opcion:hover{
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;         
}            
.barraOpciones div.OpcionSelected{
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
	background-color: #F5F5F5;
}

/*...:::::::::ESTILOS EDITAR CRONOGRAMA:::::::::...*/

.contenedorMateria{
	width:830px;
	height:auto;
	float:left;
	padding:5px;
	margin-left:40px;
	border:2px #E5E5E5 solid;
	-moz-box-shadow: 0px 0px 6px #e3e3e3;
	-webkit-box-shadow: 0px 0px 6px #e3e3e3;
	box-shadow: 0px 0px 6px #e3e3e3;
}
.contenedorMateria .materia{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	float:left;
	width:830px;
	background:url(/eisi/images/CronogramaAcademicoImages/fondoTitCiclo.png);
	text-align:center;
	margin:2px 0 18px 0;
}
h2 {
	font-size: 18px !important;
	line-height: 20px !important; 
}
.contenedorDatos{
	height:50px;
	float:left;
	width:830px;
}
.tituloDatos{
	float:left;
	width:100px;
	height:30px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	padding:12px 0 0 20px;
	font-size:16px;
}
.datos{
	float:left;
	display:table;
	width:100px;
}
.txtInput{
	float:left;
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	padding:5px 5px 5px 25px;
	font-family:normal arial,sans-serif;
	width:400px;
	height:30px;
	color:#666;
	border: 1px solid #D9D9D9;
}
.txtInputDocente{
	float:left;
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	padding:5px 5px 5px 25px;
	font-family:normal arial,sans-serif;
	width:400px;
	height:30px;
	color:#666;
	border: 1px solid #D9D9D9;
}
.txtInputFecha{
	background-repeat:no-repeat;
	background-size:20px 20px;
	border-top-color: #BBB;
	font-family:normal arial,sans-serif;
	width:132px !important;
        background-color: white !important;
}
.separadorFechas{
	width:16px;
	height:30px;
	float:left;
}
.btnGuardar{
	margin:0 auto;
	height:35px;
}
.btnAgregar{
	margin:0 auto;
	width:157px;
	margin-top:9px;
}
.borde{
	float:left;
	width:830px;
	height:5px;
	border-bottom:1px #DDD solid;
	margin-bottom:10px;
}
.horarioEditar{
	float:left;
	width:828px;
	height:auto;
	border:1px solid #DDD;
}
.horarioEditar .titHorarioEditar{
	width:808px;
	float:left;
	font-size: 1.1em;
	font-weight: bold;
	border-bottom:1px solid #DDD;
	/*background-color:#444;*/
	background: url(/eisi/images/CronogramaAcademicoImages/fondoTitulos.jpg);
	color: #FFF;
	text-align:center;
	padding: 6px 10px 6px 10px;
}
.titFechasEditar{
	width:inherit;
	float:left;
	background-color:#FCFCFC;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
}
.titFechasEditar .nomFechaEditar{
	float:left;
	font-size: 0.8em;
	text-align:center;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.titFechasEditar .iniEditar{
	float:left;
	font-size: 0.8em;
	text-align:center;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.titFechasEditar .finEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.titFechasEditar .titSalonEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.titFechasEditar .titRepetirFecha{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:42px;
	padding: 3px 10px 3px 10px;
}

.titFechasEditar .titEliminar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	height:20px;
	border-left: 1px solid #DDD;
	width:42px;
	padding: 3px 10px 3px 10px;
}
.titFechasEditar .titCruces{
	text-align:center;
	font-size: 0.8em;
	float:left;
	height:20px;
	border-left: 1px solid #DDD;
	width:38px;
	padding: 3px 10px 3px 10px;
}
.fechasEditar:nth-child(even){
	width:inherit;
	float:left;
	background-color:#FFF;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	border-top:1px solid #DDD;
}
.fechasEditar:nth-child(odd){
	width:inherit;
	float:left;
	background-color:#F4FAFA;
	font-family: 'Trebuchet MS', Arial, Sans-serif;
	border-top:1px solid #DDD;	
}
.fechasEditar .fechaEditar{
	float:left;
	font-size: 0.8em;
	text-align:center;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.fechasEditar .horaIniEditar{
	float:left;
	font-size: 0.8em;
	text-align:center;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.fechasEditar .horaFinEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.salonEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:140px;
	padding: 3px 10px 3px 10px;
}
.repetirEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:32px;
	padding: 11px 10px 3px 20px;
	height:31px;
}
.eliminarEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width:11px;
	padding: 11px 26px 3px 25px;
	height:31px;
}
.crucesEditar{
	text-align:center;
	font-size: 0.8em;
	float:left;
	border-left: 1px solid #DDD;
	width: 58px;
	/*padding: 11px 10px 3px 16px;*/
	height: 45px;
}
.contProgFecha{
	width:598px;
	float:left;
	height:auto;
	margin-bottom:10px;
}
.dias{
	width:120px;
	float:left;
	height:40px;
	margin-left:10px;
}
.btnGenerarFecha{
	float:left;
}
.btnEditar{
	width:81px;
	font-size:13px;
	float:left;
	border-left: 1px solid #DDD;
	padding: 3px 10px 3px 10px;
	background: rgb(232,242,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(232,242,247,1) 34%, rgba(234,246,249,1) 48%, rgba(220,236,239,1) 75%, rgba(220,236,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(232,242,247,1)), color-stop(48%,rgba(234,246,249,1)), color-stop(75%,rgba(220,236,239,1)), color-stop(100%,rgba(220,236,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,242,247,1) 34%,rgba(234,246,249,1) 48%,rgba(220,236,239,1) 75%,rgba(220,236,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,242,247,1) 34%,rgba(234,246,249,1) 48%,rgba(220,236,239,1) 75%,rgba(220,236,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(232,242,247,1) 34%,rgba(234,246,249,1) 48%,rgba(220,236,239,1) 75%,rgba(220,236,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(232,242,247,1) 34%,rgba(234,246,249,1) 48%,rgba(220,236,239,1) 75%,rgba(220,236,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f2f7', endColorstr='#dcecef',GradientType=0 ); /* IE6-9 */	
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/		
}
.btnEditar:hover{
	cursor:pointer;
	-moz-box-shadow:inset 0px 0px 7px #ccd6de;
	-webkit-box-shadow:inset 0px 0px 7px #ccd6de;
	box-shadow:inset 0px 0px 7px #ccd6de;
}
.contenedorRepetir{
	float:left;
	height: auto;
	width: 828px;
	border-top: 1px solid #DDD;
	display: none;
}
.contenedorFechasRepetir{
	width:321px;
	float:left;
	/*height:200px;*/
	border-right:1px solid #DDD;
}
.contenedorDiasRepetir{
	width:506px;
	float:left;
	/*height:50px;*/
}
.contenedorDiasRepetir .contenedorSemanaR{
	margin: 0 auto;
	border:1px solid #DDD;
	height:auto;
	width:286px;
	margin-top: 9px;
}
.contenedorDiasRepetir .contenedorSemanaR .titulo{
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	/*background-color: #EEE;*/
	background: url(/eisi/images/CronogramaAcademicoImages/fondoTitCiclo.png);
	color: #FFF;
	text-align: center;	
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemana{
	background-color: #FCFCFC;
	height: 24px;
	width: 100%;
	border-bottom: 1px solid #DDD;
	text-align: center;
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemana div{
	font-size: 0.8em;
	width: 40px;
	border-right: 1px solid #DDD;
	float: left;
	height: 24px;
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemana div:nth-last-child(1){
	font-size: 0.8em;
	width: 40px;
	border-right: 0px;
	float: left;
	height: 24px;
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemanaCheck{
	background-color: #FCFCFC;
	height: 24px;
	width: 100%;
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemanaCheck div{
	font-size: 0.8em;
	width: 24px;
	padding: 0px 8px;
	border-right: 1px solid #DDD;
	float: left;
	height: 24px;
}
.contenedorDiasRepetir .contenedorSemanaR .diasSemanaCheck div:nth-last-child(1){
	font-size: 0.8em;
	width: 24px;
	padding: 0px 8px;
	border-right: 0px;
	float: left;
	height: 24px;
}
.fechaIniRepetir{
	float:left;
	width:90px;
	height:30px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	padding:12px 0 0 20px;
	font-size:14px;
}
.contenedorFechaR{
	float: left;
	width: 100%;
	height: auto;
}
.separadorEditarFechas{
	width:inherit;
	height:25px;
	float:left;
	border-top:1px solid #DDD;
	background-color:#EEE;
}