/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-jun-2017, 21:11:32
    Author     : luis
*/
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols-regular-webfont.woff') format('woff'),
        url('websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family:  'Icons-font';
    src: url('fonts/raphaelicons-webfont.eot');
    src: url('fonts/raphaelicons-webfont.woff') format('woff'), 
        url('fonts/raphaelicons-webfont.ttf') format('truetype'), 
        url('fonts/raphaelicons-webfont.svg#webfontjJTHv0E8') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
	font-family: 'MyWebFont';
	src: url('fonts/WebFont.eot');
	src: url('fonts/WebFont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/WebFont.woff') format('woff'),
	     url('fonts/WebFont.ttf') format('truetype'),
	     url('fonts/WebFont.svg#webfont') format('svg');
}
