/* 
    Document   : Comentarios
    Created on : 21-jun-2013, 9:36:58
    Author     : JUANCHO
    Description:
        Purpose of the stylesheet follows.
*/

/*Para los comentarios*/
.divfoto{
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #a1a1a1;
    background-color: #c9c9c9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: linear-gradient(top, #ffffff, #c9c9c9);
    margin: 0 5px 6px 30px;
}

.divfoto>img{
    float: left;
    display: block;
    margin: 0;
    height: 38px;
    width: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #888;
}

.textocomen{
    text-align: justify;
    border: 1px solid #BEBEBE;
    border-top-color: white;
    margin-left: 0 !important;
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    padding:10px;
}

.NomFecha{
    border: 1px solid #BEBEBE;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    background: #F6F6F6;
    position: relative;
}

.NomFecha:after{
    content: "";
    border-width: 10px 10px 10px 0;
    border-color: transparent #BEBEBE transparent transparent;
    border-style: solid;
    position: absolute;
    top: 6px;
    left: -10px;
    z-index: 200;
}

.NomFecha:before{
    content: "";
    border-width: 10px 10px 10px 0;
    border-color: transparent #F6F6F6 transparent transparent;
    border-style: solid;
    position: absolute;
    top: 6px;
    left: -9px;
    z-index: 201;
}
/*Fin Comentarios*/


/* Para la línea separadora*/
.divisor{
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 10px;
    padding-top: 7px;
}
.divisor .divisor-cent{
    width: 51px;
    margin: -6px auto -9px auto;
    height: 17px;
    overflow: hidden;
}
.divisor span{
    height: 5px;
    width: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 5px;
    display: block;
    float: left;
}
/* Fin línea separadora*/